
/* Generic background image*/
body {
	background-image: url('../images/mainbackground.jpg');
	background-repeat: repeat-x;
	background-color: #AAB8D6;
	margin-top: 0px;
}

img{
	border-style:none;
}
img.gala_images{
	width:79px;
	height:100px;
	padding: 0px 0px 0px 0px;
}

table.gala_images{
	padding:0px 0px 0px 0px;
	border-style:solid;
	padding-left:0px;
	padding-right:0px;
	border-color:black;
	border-width:1px;	
}

.main-index{
	vertical-align:top;
	padding-top:20px;
}

img.gallery-thumb{
	width:77px;
	height:75px;
}

div.sshow-large{
	width:700px;
	height:200px;
}
table.gala_images td{
	padding:0px 0px 0px 0px;
	border-style:solid;
	border-width:1px;
	border-color:black;
	width:30px;	
}	

td.gala_images{

}

/* Generic main container */
div.mainContainer{
	margin-left: auto;
	margin-right: auto;
	/*width:800px;*/
	width:968px;
	padding: 0px 0px 0px 0px;
}

tr.topnavigation_home_navbar{
	height: 26px;
	/*width:800px;*/
	width:968px;
	background-image: url(../home/images/navbar/home_navbar.png);
}

tr.topnavigation_carecentre_navbar{
	background-image: url(../carecentre/images/navbar/carecentre_navbar.png);
}

tr.topnavigation_residence_navbar{
	background-image: url(../residence/images/navbar/residence_navbar.png);
}

tr.topnavigation_events_navbar{
	background-image: url(../home/images/navbar/events_navbar.png);
}

tr.topnavigation_fundraising_navbar{
	background-image: url(../home/images/navbar/fundraising_navbar.png);
}

tr.topnavigation_hwah_navbar{
	background-image: url(../home/images/navbar/homewithaheart_navbar.png);
}

tr.topnavigation_volunteer_navbar{
	background-image: url(../home/images/navbar/volunteer_navbar.png);
}

tr.topnavigation_publications_navbar{
	background-image: url(../home/images/navbar/publications_navbar.png);
}

tr.topnavigation_jobs_navbar{
	background-image: url(../home/images/navbar/jobs_navbar.png);
}

tr.topnavigation_contact_navbar{
	background-image: url(../home/images/navbar/contact_navbar.png);
}

img.floatRight { 
    float: right; 
    margin-left: 10px; 
	margin-top:10px;
    margin-bottom: 10px; 
	margin-right:10px;
}

img.galaPoster { 
    float: left; 
    margin-left: 10px; 
	margin-top:0px;
    margin-bottom: 10px; 
	margin-right:10px;
}


/* Default link styles */
a.navigation:link { font-size:100%;color: white; font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;text-decoration: none;font-weight: 500;}     /* unvisited link */
a.navigation:visited {font-size:100%;color: white; font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;text-decoration: none;font-weight: 500;}  /* visited link */
a.navigation:hover {font-size:100%;color: yellow; font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif; text-decoration: none;font-weight: 500;}   /* mouse over link */
a.navigation:active {font-size:100%;color: gray; font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif; none;font-weight: 500;}   /* selected link */

a:link {font-size:100%;color: #806528; font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;text-decoration: underline;font-weight: 500;}     /* unvisited link */
a:visited {font-size:100%;color: #806528; font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;text-decoration: underline;font-weight: 500;}  /* visited link */
a:hover {font-size:100%;color: #623615; font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif; text-decoration: underline;font-weight: 500;}   /* mouse over link */
a:active {font-size:100%;color: gray; font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif; none;font-weight: 500;}   /* selected link */

a.float-right:link {font-size:100%;float:right;color: #806528; font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;text-decoration: underline;font-weight: 500;}     /* unvisited link */
a.float-right:visited {font-size:100%;float:right;color: #806528; font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;text-decoration: underline;font-weight: 500;}  /* visited link */
a.float-right:hover {font-size:100%;float:right;color: #623615; font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif; text-decoration: underline;font-weight: 500;}   /* mouse over link */
a.float-right:active {font-size:100%;float:right;color: gray; font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif; none;font-weight: 500;}   /* selected link */


/* news heading font style */
.headerfont {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 1em;
	font-weight:bold;
}

/* news font style */
.newsfont {
	font-size: 0.7em;
	font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;
	color: black;
	letter-spacing:0.3px;
}

/* justify alignment */
.justify {
	text-align: justify;
}

span.eventsfont{
	font-size: 0.9em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: black;   
	letter-spacing:0.3px;
	
}    

span.bold-text{
	font-size: 100%;
	font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

span.bold-text-heading{
	font-size: 1.3em;
	font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

span.bold-italic-text{
	font-weight:bold;
	font-style:italic;
}

div.newsDivider{
	width: 188px;
}

div.center-text{
	text-align: center;
}

/* top left navigation bar */
td.topleftNavBar{
	width:255px;
	height: 175px;
	font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;
	font-size:  0.938em;
	font-weight: bold;
	text-align: right;
	color: white;
	vertical-align: bottom;
	padding: 0px 3px 10px 0px; /* padding-top padding-right padding-bottom padding-left */
}

td.banner{
	width: 545px;
	height: 200px;
	border-right-style: solid;
	border-color: black;		/*overides IE 6 default gray border */
	border-width:1px;
	text-align:left;
	padding: 0px 0px 0px 0px;
}

img.banner {
	width: 100%;
	height: 100%;
	vertical-align:middle;
}

img.menu-arrow{
	vertical-align:middle;
}

td.mainColumn-1{
	width: 300px;
	vertical-align: top;
	border-left-style: solid;
	border-color: black;		/*overides IE 6 default gray border */
	border-width:1px;
	padding: 20px 10px 20px 30px;   /* padding-top padding-right padding-bottom padding-left */
}

td.mainColumn-2{
	width: 485px;
	vertical-align: top;
	border-right-style: solid;
	border-color: black;		/*overides IE 6 default gray border */
	border-width:1px;
	padding: 20px 20px 20px 5px;   /* padding-top padding-right padding-bottom padding-left */
}

/* table container layout */
table.bordered{
	background-color: white;
	vertical-align: top;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-color: black;		/*overides IE 6 default gray border */
	border-width:1px;
	width:100%;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.bordered td{
	background-color: white;
	padding: 20px 30px 20px 30px; /* padding-top padding-right padding-bottom padding-left */
	font-size: 0.75em;
	border:1px;
	border-style:none;
	font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;
	vertical-align:top;
}

table.footer{
	background-color: white;
	vertical-align: top;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-color: black;		/*overides IE 6 default gray border */
	border-width:1px;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
	/*width: 800px;*/
	width:968px;
	font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;
	font-size:  0.688em;
}

td.page-footer{
	color: #383838;
	font-family: Helvetica, Verdana, helvetica, sans-serif;
	font-size:  0.688em;
	padding-top: 3px;
	text-align: right;
	border-top-style: solid;
	border-color: #B8B8B8;
	border-width: 1px;
}

img.topBannerDivider{
	width: 642px;
	height: 6px;
}

img.homeNewsHeader{
	width: 54px;
	height: 20px;
}

img.homeIntroPic{
	width: 408px;
	border: 0px;
}

.fixColor{
	color: black;
}

img.footerDivider{
	/*width:798px;*/
	/*width:966px;*/
	/*width:100%;*/
	height:13px;
	width:100%;

}

img.footer{
	border:0px;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.simple{
	background-color: white;
	border-spacing: 0px;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
	border: none;
	vertical-align: top;
	border-width:0px;
	/*width:800px;*/
	width:968px;
}

/* a regular bordered table */
table.table-bordered{
	background-color: white;
	border-spacing: 0px;
	vertical-align: top;
	border-style:solid;
	border-width:1px;
	border-color:gray;
	width:100%;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.table-bordered td{
	background-color: white;
	border-color:gray;
	border-style:solid;
	border-width:1px;
	font-size:100%;
	padding: 5px 5px 5px 5px;   /* padding-top padding-right padding-bottom padding-left */
}

table.tabled-not-bordered{
	background-color: white;
	border-spacing: 0px;
	vertical-align: top;
	border-style:none;
	border-width:0px;
	width:100%;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.table-not-bordered td{
	background-color: white;
	vertical-align: top;
	border-color:black;
	border-style:none;
	border-width:0px;
	font-size: 100%;
	width:649px;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.no-padding-bordered{
	background-color: white;
	border-spacing: 0px;
	vertical-align: top;
	border-style:none;
	border-width:0px;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.no-padding-bordered td{
	vertical-align: top;
	border-color:black;
	border-style:none;
	border-width:0px;
	padding: 5px 5px 5px 5px;   /* padding-top padding-right padding-bottom padding-left */
}


table.bordered-left-right{
	background-color: white;
	border-right-style: solid;
	border-left-style: solid;
	border-color:black;
	border-spacing: 0px;
	vertical-align: top;
	border-width:1px;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 0px 30px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.bordered-left-right td{
	padding: 0px 30px 5px 30px; /* padding-top padding-right padding-bottom padding-left */
	font-size: 0.75em;
	border:1px;
	border-style:none;
	font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;
	vertical-align:top;
}

table.bordered-left-right-special{
	background-color: white;
	border-right-style: solid;
	border-left-style: solid;
	border-color:black;
	border-spacing: 0px;
	vertical-align: top;
	border-width:1px;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 0px 30px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.bordered-left-right-special td{
	padding: 0px 0px 5px 30px; /* padding-top padding-right padding-bottom padding-left */
	font-size: 0.75em;
	border:1px;
	border-style:none;
	font-family: Helvetica, Verdana, Arial, Helvetica, sans-serif;
	vertical-align:top;
}

img.mission-statement-pic{
	width:160px;
	height:120px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

span.align-right{
	text-align:right;
}

img.welcome-signature{
	width:208px;
	height:52px;
}

/*distinguish in top left navbar the link that is active */
span.active-link{
	font-weight: 300;
	/*color: gray;*/
	/*color:#FFCC00;*/
	color: #c48c1f;
}

img.newsletterImg{
	width:100px;
	height:155px;
	border: 0px;
}

img.campaign-update-Img{
	border: 0px;
}

img.annual-reports-Img{
	border: 0px;
}
 
img.photogallery{
	width: 256px;
	height: 170px;
	border-style: solid;
	border-width: 4px;
	border-color: black;
}

img.photo-portrait{
	width: 237px;
	height: 316px;
	border-style: solid;
	border-width: 4px;
	border-color: black;
}

/* NEW */

img.poster-thumb{
	width:130px;
	border-style:solid;
	border-width:1px;
	border-color:#cccccc;
}

#gallery li{
padding:10px 10px 10px 10px;
margin-bottom:40px;
}

ul.gallery { 
	list-style: none;
	text-align:right;
padding-left:0px;
display:block;
width:160px;
}

div.slideshow-area{
	width:500px;
	text-align:center;
}

td.vtour-slideshow{
	width:500px;
}

div.output{
	background-color:#403c3c;
	color:white;
	width:100%;
	height:40px;
	font-weight:300;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:12px;
}

img.virtual-tour{
width:480px;

}

table.publications-annualreports td{
font-size:100%;
padding:8px 8px 8px 8px;
}

table.volunteer-form{
width:100%;
}

table.volunteer-form td{
padding:5px 5px 5px 5px;
}

table.volunteer-form td.label{
width:200px;
padding:5px 5px 5px 5px;
}

fieldset.volunteer-form{
	border-color:gray;
	border-width:1px;
	border-style:solid;


}

span.required-field{
	color:red;
	font-weight:bold;
	font-size:1em;
}

div.donate-now-section{
float:right;
	width:200px;
	height:100px;
	text-align:right;
}

img.donate{
	/*width:120px;*/
	height:30px;
}

/* menu for sub menus */
.glossymenu, .glossymenu li ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 100%; /*WIDTH OF MAIN MENU ITEMS*/
			/*border: 1px solid black;*/
			}

			.glossymenu li{
			position: relative;
			}

			.glossymenu li a{
			/*background: white url(images/glossyback.gif) repeat-x bottom left;*/
			background-color:#273576;
			font: 14px Helvetica, sans-serif;
			color: white;
			display: block;
			width: auto;
			padding-top:2px;
			/*padding: 5px 0;*/
			padding-left: 10px;
			text-decoration: none;
			}

			.glossymenu li ul{ /*SUB MENU STYLE*/
			position: absolute;
			width: 260px; /*WIDTH OF SUB MENU ITEMS*/
			margin-left:5px;
			left: 0;
			top: 0;
			display: none;
			border:solid;
			border-color:#13236d;
			border-width:1px;
			}

			.glossymenu li ul li{
			float: left;
			}

			.glossymenu li ul a{
			width: 240px; /*WIDTH OF SUB MENU ITEMS - 10px padding-left for A elements */
			padding-left:10px;
			border-bottom:solid;
			border-width:1px;
			border-color:#13236d;
			padding-right:10px;
			}

			.glossymenu .arrowdiv{
			position: absolute;
			right: 2px;
			/*background: transparent url(images/arrow.gif) no-repeat center right;*/
			}

			.glossymenu li a:visited, .glossymenu li a:active{
			color: white;
			}

			.glossymenu li a:hover{
				color:yellow;
				background-color:#273576;
			/*background-image: url(images/glossyback2.gif);*/
			}

			/* Holly Hack for IE \*/
			* html .glossymenu li { float: left; height: 1%; }
			* html .glossymenu li a { height: 1%; }
			/* End */
/* end sub menu section */

tbody{
font-size:100%;
}

table.calendar-campaign{
	padding:5px 5px 5px 5px;
	border-style:solid;
	border-width:1px;
	border-color:#cccccc;

}

table.calendar-campaign td{
	padding:5px 5px 5px 5px;
	border-style:solid;
	border-width:1px;
	border-color:#cccccc;
	width:220px;
	text-align:center;
}

.todays-winner{
	color:green;
	text-align:center;
	padding:5px 5px 5px 5px;
	border-color:#ccccc;
	border-width:1px;
	border-style:solid;
	width:670px;
}

p.heading{
 font-weight: bold;
}

img.img_fontsize{
	height:25px;
}

div.font-size-section{
	height:50px;
	/*width:100%;*/
	right:0px;
	text-align:right;
	/*background-color:red;*/
	position:relative;
	top:-10px;
}	