#sponsor-list { 
	background: transparent url(../homewithaheart/images/uccc_gala_sponsors.jpg) no-repeat;
	height: 650px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 0px 0px 0px;
	padding-left:5px;
	padding-right:5px;
	position:relative;
}

#sponsors a {
  position: absolute;
  text-decoration: none;
	border-style:solid;
	border-width:1px;
}


a#kobayashiHall{
	top:60px;
	left: 150px;
	width:260px;
	height:20px;
}

a#kobayashiHall:hover { 	
	top:60px;
	left: 150px;
	width:260px;
	height:20px; 
	background: transparent url(../homewithaheart/images/gala_sponsors/temetry_foundation.jpg) no-repeat;
}