.clsCMOn, .clsCMOver {
    font: 12px Tahoma, Helvetica;
    padding: 2px 4px;
    color: black;
}

p {
    color: silver;
    text-align: justify;
    font: 10pt "Trebuchet MS", sans-serif;
}
