
/*Example CSS for the two demo scrollers*/

#pscroller1{
	width: 238px;
	height: 65px;
	padding: 5px;
	background-color: #366591;
	color: white;
}

a:link {
	text-decoration: underline;
	color:white;
}
a:visited {
	text-decoration: underline;
	color:white;
}




.someclass{ //class to apply to your scroller(s) if desired
}



