body {
	/*background-image: url('../images/mainbackground.jpg');
	background-repeat: repeat-x;*/
	background-color: #f2f0f0;
	margin-top: 0px;
	margin-bottom: 10px;
}

table.space-dimensions{
	border-style: none;
}

table.space-dimensions td,tr{
	vertical-align:top;
	text-align:left;
	font-family:Arial, verdana;
	font-weight:none;
	font-size:12px;
}

td.bold-simple{
	font-family:helvetica, verdana;
	font-weight:bold;
	font-size:11px;
}

ul.space-dimensions li{
margin: 0px;
line-height: 1px;
padding: 0px;
}

#sketchUpObj {
  width: 0px;
}

suppliers.td{
	padding-left:20px;
	padding-right:20px;
}

/* */
#floor { 
	background: transparent url(../images/spaces/first_floor2.jpg) no-repeat;
	height: 338px;
	width: 636px;
	margin-left: auto;
	margin-right: auto;
	width:790px;
	padding: 0px 0px 0px 0px;
	padding-left:5px;
	padding-right:5px;
	position:relative;
}

#rooms a {
  position: absolute;
  text-decoration: none;
/*	border-style:solid;
	border-width:1px;*/
}


a#kobayashiHall{
	top:65px;
	left: 65px;
	width:160px;
	height:170px;
}
a#kobayashiHall:hover { 	
	width:160px;
	height:200px; 
	top:38px;
	left:66px; 
	background: transparent url(../images/spaces/first_floor/kobayashi.jpg) no-repeat;
}

a#kobayashiHallPatio {
	top: 236px; 
	left:56px;
	width:140px;
	height:78px;
}
a#kobayashiHallPatio:hover {
	width:140px;
	height:138px;
	top:237px;
	left:57px;
	background-image: url(../images/spaces/first_floor/kobayashi_hall_patio.jpg);
}


a#shokokaiCourt {
	top: 200px;
	left: 206px;
	width:100px;
	height:90px;
}
a#shokokaiCourt:hover {
	top: 201px;
	left: 207px;
	width:100px;
	height:150px;
background-image: url(../images/spaces/first_floor/shokokai.jpg); 
}


a#wynfordRoom {
	top: 150px;
	left: 261px;
	width:50px;
	height:45px;
}

a#wynfordRoom:hover {
	top: 102px;
	left: 262px;
	width:137px;
	height:93px;
background-image: url(../images/spaces/first_floor/wynford_room.jpg); 
}


a#hosakiRoom{
	top: 130px;
	left: 330px; 
	width:40px;
	height:50px;
}

a#hosakiRoom:hover {
	top: 128px;
	left: 330px; 
	width:162px;
	height:50px;
background-image: url(../images/spaces/first_floor/hosaki.jpg);
}

a#heritageCourt{
	top: 181px;
	left: 330px;
	width: 210px; 
	height:70px;
}
a#heritageCourt:hover { 
	top: 182px;
	left: 331px;
	width: 400px; 
	height:70px;
	background-image: url(../images/spaces/first_floor/heritage_hall.jpg);

}

a#heritageLounge{
	top: 253px;
	left: 500px;
	width: 130px; 
	height:70px;
}

a#heritageLounge:hover {
	top: 254px;
	left: 369px;
	width: 262px; 
	height:70px;
	background-image: url(../images/spaces/first_floor/lounge.jpg); 

}

div.spaces-navigation{
	top: 0px;
float:right;	
width:400px;
	height:200px;
	background-color: #f2f0f0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	behavior:url(border-radius.htc);
	position:relative;
}

div.spaces-introduction{
	top:0px;
	left:0px;
	width:300px;
	position:relative;
}

td.bordered-footer{
	background-repeat: repeat-x;
	padding: 0px 0px 0px 0px; /* padding-top padding-right padding-bottom padding-left */
	background-image: url(../images/border.jpg);
	width:200px;
}

/* Generic main container */
div.mainContainer{
	margin-left: auto;
	margin-right: auto;
	width:800px;
	min-height:600px;
	padding: 0px 0px 0px 0px;
	padding-left:5px;
	padding-right:5px;
	background-color: white;
	border-style:solid;
	border-width:1px;
	border-color: #cccccc;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	behavior:url(border-radius.htc);
}

table.intro{
	padding: 7px 0px 7px 0px;
	font-size: 12px;
	vertical-align: top;
	font-family: Helvetica, sans-serif;
	font-weight:normal;
}

div.sshow-large{
	width:340px;
	height:185px;
	padding-top:0px;
	padding-bottom:0px;
}

td.top-padding-0{
	vertical-align:top;
	text-align:left;
}

td.top-padding-10-left-0{
	vertical-align:top;
	padding-top:10px;
	padding-left:0px;
	font-size:12px;
	font-family:Arial, Verdana
}

td.top-padding-10{
	vertical-align:top;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
}

td.welcome_jccc_rentals{
	background-image: url(../images/home/welcome_jccc_intro_background.jpg);
	background-repeat: no-repeat;
	background-color: white;
	padding: 0px 0px 0px 0px;
	text-align:left;
	vertical-align:top;	

}

div.jccc-intro-field{
	width:275px;
	height:200px;
	padding-left:10px;
	text-align:left;

}

div.spaces-intro{
	padding-left:10px;
	padding-top:1px;
	padding-bottom:5px;

}

td.spaces-list{
	/*background-image: url(../images/spaces/text_background.jpg);*/
	background-repeat: no-repeat;
	background-color: white;
	padding: 0px 0px 0px 0px;
	text-align:left;
	vertical-align:top;	
	width:180px;
}

img.jccc-logo{
	width: 218px;
	height:64px;

}

td.logo-td{
	vertical-align:middle;	
}

td.navigation_home{
	height: 32px;
	width:699px;
	/*background-image: url(../images/navigation_menu/l0_bg_out.gif);*/
	background-repeat: repeat-x;
	background-color: white;
	padding: 0px 0px 0px 0px;
	text-align:center;
	vertical-align:middle;	
/*	border-top:solid;
	border-width:1px;*/
}

td.navigation_spaces{
	height: 32px;
	width:699px;
	/*background-image: url(../images/navigation_menu/navigation_home.jpg);*/
	background-repeat: no-repeat;
	background-color: white;
	padding: 0px 0px 0px 0px;
	text-align:left;
	vertical-align:middle;	
/*	border-top:solid;
	border-width:1px;*/
}

td.navigation_suppliers{
	height: 32px;
	width:699px;
	/*background-image: url(../images/navigation_menu/navigation_home.jpg);*/
	background-repeat: no-repeat;
	background-color: white;
	padding: 0px 0px 0px 0px;
	text-align:left;
	vertical-align:middle;	
/*	border-top:solid;
	border-width:1px;*/
}
td.navigation_contact{
	height: 32px;
	width:699px;
	/*background-image: url(../images/navigation_menu/navigation_home.jpg);*/
	background-repeat: no-repeat;
	background-color: white;
	padding: 0px 0px 0px 0px;
	text-align:left;
	vertical-align:middle;	
/*	border-top:solid;
	border-width:1px;*/
}






/* --------------------------------------- */

table.header-container{
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
	width: 800px;
	vertical-align: top;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: none;
	border-bottom-style: none;
	/*border-color: #51718E;		overides IE 6 default gray border */
	border-color: #bb6b24;
	border-width:1px;
	/*padding: 10px 10px 10px 10px;    padding-top padding-right padding-bottom padding-left */
}

tr.header-container{
	width:800px;
	border:none;
}

table.header-divider{
	height:30px;
	width:100%;
	vertical-align: top;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	/*border-color: #51718E;		overides IE 6 default gray border */
	border-color: #bb6b24;
	border-width:1px;

}

img.header-divider{
	height:30px;
	width: 798px;
}

td.header-divider{
	height: 30px;
	width:100%;
	background-color: black;
}

td.header-container{
	color:white;
	font-size: 11px;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
	border:none;
}

img.rotate-image-set{
	width: 540px;
	height: 300px;
	border: none;
}

img.rotate-quote-set{
	width:258px;
	height: 300px;
	border: none;
}


td.footer{
	border-color: #bb6b24;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: black;
	color:white;
	text-align: right;
	font-size: 11px;
}



img.fmi-banner{
	width: 100%;
	height: 72px;
}

img.fmi-banner-logo{
	width: 100%;
	height: 63px;
	border:none;
}

/* Default link styles */
a.navigation:link {color: white; font-family: Helvetica, sans-serif;text-decoration: none; font-weight: 500;}     /* unvisited link */
a.navigation:visited {color: white; font-family: Helvetica, sans-serif;text-decoration: none;font-weight: 500;}  /* visited link */
a.navigation:hover {color: yellow; font-family: Helvetica, sans-serif; text-decoration: none;font-weight: 500;}   /* mouse over link */
a.navigation:active {color: gray; font-family: Helvetica, sans-serif; text-decoration: none; font-weight: 500;}   /* selected link */

a:link {color: #ce2e32; font-family: Helvetica, sans-serif;text-decoration: none; font-weight: 500; font-size:13px;}     /* unvisited link */
a:visited {color: #ce2e32; font-family: Helvetica, sans-serif;text-decoration: none; font-weight: 500; font-size:13px;}  /* visited link */
a:hover {color: #ce2e32; font-family: Helvetica, sans-serif; text-decoration: underline; font-weight: 500; font-size:13px;}   /* mouse over link */
a:active {color: gray; font-family: Helvetica, sans-serif; text-decoration: none; font-weight: 500;font-size:13px;}   /* selected link */



table.news-table{
	width:100%;
}

td.news-table-article{
	width: 500px;
	vertical-align:top;
}

img.picture-gallery{
width:240px;
height:220px;
}

/*seminar and or newsletter signup*/
table.signup-form{
	border-color="white";
	border-width="thin";
	border="1";
}

img.floatLeft { 
    float: left; 
    margin-left: 10px; 
	margin-top:10px;
    margin-bottom: 10px; 
	margin-right:10px;
	width:200px;
	height:169px;
}

img.floatLeft-no-dimensions { 
    float: left; 
    margin-left: 10px; 
	margin-top:10px;
    margin-bottom: 10px; 
	margin-right:10px;
}

img.floatRight { 
    float: right; 
    margin: 4px; 
}

img.client-logos{
	width:200px;
	height:200px;
}

tr.navigation_oursuccess{
	height: 26px;
	width:100%;
	background-image: url(../images/navbar/oursuccess.png);
	background-repeat: no-repeat;
	background-color: black;
}

tr.navigation_services{
	height: 26px;
	width:100%;
	background-image: url(../images/navbar/services.png);
	background-repeat: no-repeat;
	background-color: black;
}

tr.navigation_newsandmedia{
	height: 26px;
	width:100%;
	background-image: url(../images/navbar/newsandmedia.png);
	background-repeat: no-repeat;
	background-color: black;
}

tr.navigation_innovations{
	height: 26px;
	width:100%;
	background-image: url(../images/navbar/innovations.png);
	background-repeat: no-repeat;
	background-color: black;
}

tr.navigation_discussion{
	height: 26px;
	width:100%;
	background-image: url(../images/navbar/discussion.png);
	background-repeat: no-repeat;
	background-color: black;
}

tr.navigation_resources{
	height: 26px;
	width:100%;
	background-image: url(../images/navbar/resources.png);
	background-repeat: no-repeat;
	background-color: black;
}

tr.navigation_contactus{
	height: 26px;
	width:100%;
	background-image: url(../images/navbar/contactus.png);
	background-repeat: no-repeat;
	background-color: black;
}

img.mainbanner{
	width:798px;
	height:90px;
}

table.main-body-container{
	padding: 20px 30px 20px 30px;   /* padding-top padding-right padding-bottom padding-left */
	width: 100%;
	height:600px;
	vertical-align: top;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: none;
	border-bottom-style: solid;
	/*border-color: #51718E;		overides IE 6 default gray border */
	border-color: #bb6b24;
	border-width:1px;	
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color:black;

	/*background-color:#3c3b3b;*/
}

tr.main-body-container{
	vertical-align: top;
	color: white;

}

td.main-body-container{
	vertical-align: top;
	color: white;
	/*text-align:top;*/

}

span.bold-text-heading{
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FF9900;
}

span.fmi-moto-line1{
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-left:280px;
	color:#FF9900;
}

span.fmi-moto-line2{
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-left:320px;
	color:#FF9900;
}

span.fmi-moto-line3{
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-left:360px;
	color:#FF9900;
}

span.bold-text-gold{
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:white;
}

span.text-gold{
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#FF9900;
}

span.italic-text{
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;
	color:white;
}

span.bold-text-subheading-gold{
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	color:#FF9900;
}

span.small-text-gold{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	color:#FF9900;
}

div.small-text-gold{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	color:#FF9900;
}

div.small-text-white{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	color:white;
}

span.small-text-white{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	color:white;
}

span.very-small-text-white{
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	color:white;
}

div.quote-signature{
	text-align: right;
}

img.border-image-gold{
	border: 1px solid  #FF9900;
	width:90px;
	height:90px;
}

td.top-align{
	vertical-align:top;
}

td.right-align{
	text-align:right;
	vertical-align:top;
}

td.left-align{
	text-align:left;
}

div.right-align{
	text-align:right;
}

table.borderless-gold{
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
	vertical-align:top;
	border:none;
}

tr.borderless-gold{
	padding: 0px 0px 10px 0px;   /* padding-top padding-right padding-bottom padding-left */
	vertical-align:top;
}

td.borderless-gold{
	vertical-align:top;
	padding: 0px 10px 0px 10px;   /* padding-top padding-right padding-bottom padding-left */

}

/*div.hr {
  height: 15px;
  background: #fff url('../images/dividers/divider.png) no-repeat scroll center;
}
div.hr hr {
  display: none;
}*/

hr{
color: #cccccc;
background-color: #cccccc;
width:100%;
height: 1px;
border:0px;
}


/* form stuff */
label{
width: 7em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
/*font-size: 12px;*/
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.submit input{
margin-left: 9.5em;
}

input{
color: #781351;
background: #fee3ad;
border: 1px solid #FF9900;
font-size: 12px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

.submit input{
color: black;
background: #FF9900;
border: 2px outset #FF9900;
}


/* =================================================================================== */











/* news heading font style */
.headerfont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
}

/* news font style */
.newsfont {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}

/* justify alignment */
.justify {
	text-align: justify;
}

span.bold-text{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}



span.bold-italic-text{
	font-weight:bold;
	font-style:italic;
}

div.newsDivider{
	width: 188px;
}

div.center-text{
	text-align: center;
}

/* top left navigation bar */
td.topleftNavBar{
	width:255px;
	height: 178px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: right;
	color: white;
	vertical-align: bottom;
	padding: 0px 3px 10px 0px; /* padding-top padding-right padding-bottom padding-left */
}

td.banner{
	width: 545px;
	height: 200px;
	border-right-style: solid;
	border-color: black;		/*overides IE 6 default gray border */
	border-width:1px;
	text-align:left;
	padding: 0px 0px 0px 0px;
}

img.banner {
	width: 100%;
	height: 100%;
	vertical-align:middle;
}

img.menu-arrow{
	vertical-align:middle;
}

td.mainColumn-1{
	width: 207px;
	vertical-align: top;
	border-left-style: solid;
	border-color: black;		/*overides IE 6 default gray border */
	border-width:1px;
	padding: 20px 10px 20px 30px;   /* padding-top padding-right padding-bottom padding-left */
}

td.mainColumn-2{
	width: 485px;
	vertical-align: top;
	border-right-style: solid;
	border-color: black;		/*overides IE 6 default gray border */
	border-width:1px;
	padding: 20px 20px 20px 5px;   /* padding-top padding-right padding-bottom padding-left */
}

/* table container layout */
table.bordered{
	background-color: white;
	vertical-align: top;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-color: black;		/*overides IE 6 default gray border */
	border-width:1px;
	width:100%;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.bordered td{
	background-color: white;
	padding: 20px 30px 20px 30px; /* padding-top padding-right padding-bottom padding-left */
	font-size: 12px;
	border:1px;
	border-style:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:top;
}

td.page-footer{
	color: #383838;
	font-family: verdana, helvetica, sans-serif;
	font-size: 11px;
	padding-top: 3px;
	text-align: right;
	border-top-style: solid;
	border-color: #B8B8B8;
	border-width: 1px;
}

img.topBannerDivider{
	width: 642px;
	height: 6px;
}

img.homeNewsHeader{
	width: 54px;
	height: 20px;
}

img.homeIntroPic{
	width: 408px;
	border: 0px;
}

.fixColor{
	color: black;
}

img.footerDivider{
	width:798px;
	height:13px;
}

table.simple{
	background-color: white;
	border-spacing: 0px;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
	border: none;
	vertical-align: top;
	border-width:0px;
	width:800px;
}

/* a regular bordered table */
table.table-bordered{
	background-color: white;
	border-spacing: 0px;
	vertical-align: top;
	border-style:solid;
	border-width:1px;
	width:100%;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.table-bordered td{
	background-color: white;
	border-color:black;
	border-style:solid;
	border-width:1px;
	padding: 5px 5px 5px 5px;   /* padding-top padding-right padding-bottom padding-left */
}

table.tabled-not-bordered{
	background-color: white;
	border-spacing: 0px;
	vertical-align: top;
	border-style:none;
	border-width:0px;
	width:100%;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.table-not-bordered td{
	background-color: white;
	vertical-align: top;
	border-color:black;
	border-style:none;
	border-width:0px;
	width:649px;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.no-padding-bordered{
	background-color: white;
	border-spacing: 0px;
	vertical-align: top;
	border-style:none;
	border-width:0px;
	padding: 0px 0px 0px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.no-padding-bordered td{
	vertical-align: top;
	border-color:black;
	border-style:none;
	border-width:0px;
	padding: 5px 5px 5px 5px;   /* padding-top padding-right padding-bottom padding-left */
}


table.bordered-left-right{
	background-color: white;
	border-right-style: solid;
	border-left-style: solid;
	border-spacing: 0px;
	vertical-align: top;
	border-width:1px;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 0px 30px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.bordered-left-right td{
	padding: 0px 30px 5px 30px; /* padding-top padding-right padding-bottom padding-left */
	font-size: 12px;
	border:1px;
	border-style:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:top;
}

table.bordered-left-right-special{
	background-color: white;
	border-right-style: solid;
	border-left-style: solid;
	border-spacing: 0px;
	vertical-align: top;
	border-width:1px;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 0px 30px 0px;   /* padding-top padding-right padding-bottom padding-left */
}

table.bordered-left-right-special td{
	padding: 0px 0px 5px 30px; /* padding-top padding-right padding-bottom padding-left */
	font-size: 12px;
	border:1px;
	border-style:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:top;
}

img.mission-statement-pic{
	width:160px;
	height:120px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

span.align-right{
	text-align:right;
}

img.welcome-signature{
	width:208px;
	height:52px;
}

/*distinguish in top left navbar the link that is active */
span.active-link{
	font-weight: 300;
	/*color: gray;*/
	color:yellow;
}

img.newsletterImg{
	width:100px;
	height:155px;
	border: 0px;
}

img.campaign-update-Img{
	border: 0px;
}

img.annual-reports-Img{
	border: 0px;
}
 
img.photogallery{
	width: 256px;
	height: 170px;
	border-style: solid;
	border-width: 4px;
	border-color: black;
}

img.photo-portrait{
	width: 237px;
	height: 316px;
	border-style: solid;
	border-width: 4px;
	border-color: black;
}

div.event-center{
	text-align: center;
	font-weight: bold;
}