.clsCMOn, .clsCMOver {
    font: 12px Tahoma, Helvetica;
    padding: 2px 4px;
    color: black;
}

form {
	margin: 0;
}

input.text {
	border: 1px solid black;
	background-color: #F8F8F8;
	width: 110px;
}

textarea {
	border: 1px solid black;
	background-color: #F8F8F8;
	width: 156px;
	height: 56px;
}

select {
	background-color: #F8F8F8;
	width: 161px;
}