/*************************************************/
/*******************HOMEPAGE*******************/
/*************************************************/
div.flashswf {
	margin-left: 5px;
	margin-right: 5px;
}
div.news {
	height:160px;
	overflow: auto;
}
img.column-heading-center {
    text-align:center;
    display:block;
}
img.column-image {
	margin-left: 8px;
	margin-top: 15px;
}
img.column-pic {
	position: relative;
	left: 5px;
	width: 255px;
    display:block;
}
img.slideshow {
	width: 256px;
	height: 188px;
	margin-left: 5px;
	margin-right: 5px;
}
li.project-schedule {
    padding-bottom: 5px;
}
span.newsTitle{
	font-weight: bold;
	color:#00289F;
}
table.column-chart {
	border-style: none;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 12px;
	margin-bottom: 12px;
}
td.column-chart-hdetail {
	border-color: #B8B8B8;
	border-style: solid;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-width: 1px;
	font-size: 12px;
	text-align: center;
	width: 85px;
}
td.column-chart-hdetail-edge {
	border-color: #B8B8B8;
	border-style: solid;
	border-top-style: none;
	border-width: 1px;
	font-size: 12px;
	text-align: center;
	width: 85px;
}
td.column-middle {
	width: 260px;
	vertical-align: top; 
}
td.column-outer { 
	border-left-style: solid;
	border-right-style: solid;
	border-color: #B8B8B8;
	border-width: 1px;
	width: 260px;
	vertical-align: top;
}
td.column-video {
	height: 189px;
	width: 255px; 
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
}
td.columnContent{
	font-family: arial;
	font-size:12px;
	color: black;
	padding-left: 10px;
	padding-right:10px;
	line-height: 12pt ;
}
td.columnContent-quote {
	font-family: arial;
	font-size:12px;
	color: black;
	padding-left: 10px;
	padding-right:10px;
	line-height: 12pt ;
	text-align: justify;
	font-style: italic;
}
td.columnHeader {
	font-family: Gill Sans MT, arial;
	font-size:12px;
	color: #00284F;
	padding-left: 10px;
	padding-right:5px;
	padding-top:7px;
	padding-bottom:2px;
}
td.slideshow {
	padding-top: 3px;
}
th.column-chart-hheading {
	background-color: #00284F;
	border-color: #B8B8B8;
	border-style: solid;
	border-left-style: none;
	border-right-style: none;
	border-width: 1px;
	font-size: 12px;
	text-align: center;
	color: white;
	width: 85px;
}
th.column-chart-hheading-edge {
	background-color: #00284F;
	border-color: #B8B8B8;
	border-style: solid;
	border-width: 1px;
	font-size: 12px;
	text-align: center;
	color: white;
	width: 85px;
}

/*************************************************/
/*******************SUB-PAGES*******************/
/*************************************************/
.floorplans{
	font-weight: bold;
}
a.to-top {  /*Return to top*/
	position: relative;
	left: 260px;
	font-size: 16px;
}
div.flashswf-interview1 {
	float: left;
	margin-left: 27px;
}
div.list-modifier {
	line-height: 130%;
}
div.pa-thumbnail {
	position: relative;
	left: 5px;
	padding: 20px;
}
div.right-menu {
	text-align: right;
	margin-bottom: 50px;
	vertical-align: top;
	margin-top: 70px;
}
div.thumbnail {
	padding-bottom: 48px;
	padding-left: 48px;
	padding-right: 48px;
}
h3.pagedesc {
	margin-left: 50px;
	margin-right: 20px;
	text-align: center;
	color: #00284F;
}
h4.list-heading {
	margin-left: 50px;
	margin-right: 40px;
	color: #00284F;
}
h4.movie-title {
	margin-left: 85px;
	margin-right: 20px;
	text-align: left;
	color: #00284F;
	font-size: 18px;
}
h4.pagedesc {
	margin-left: 50px;
	margin-right: 20px;
	text-align: center;
	color: #00284F;
}
h4.pagedesc-left-align{
	margin-left: 50px;
	margin-right: 20px;
	text-align: left;
	color: #00284F;
}
h4.photo-title {
	margin-left: 30px;
	margin-right: 20px;
	text-align: left;
	color: #00284F;
	font-size: 18px;
}
img.bottompic1 {
	margin-bottom: 19px;
}
img.float-left {
	float: left;
	margin-right: 12px;
	margin-bottom: 5px;
}
img.headings {
	margin-left: 19px;
}
img.pa-thumb {
	border-style: ridge;
	border-width: 1px;
	width: 106px;
	height: 79px;
}
img.vid-thumbnail {
	border-style: ridge;
	border-width: 1px;
	width: 153px;
	height: 102px;
}
input.form-reset {
	position: relative; 
	left: 246px;
}
input.form-submit {
	position: relative; 
	left: 228px;
}
li.named {
	text-decoration: line-through;
}
p.footnote{
	text-align: justify;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 30px;
	font-size: 12px;
	font-style: italic;
}
p.giftLevels{
	text-align: center;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 15px;
}
p.pagedesc {
	text-align: justify;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 30px;
}
p.pagedesc-center{
	text-align: center;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 30px;
}
p.pagedesc-withbottompic{
	text-align: justify;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 20px;
}
p.right-menu-quote {
	margin-left: 8px;
	margin-right: 8px;
	text-align: left;
	font-style: italic;
	font-family: arial;
	font-size:13px;
	color: black;
}
table.naming-availability {
	position: relative;
	left: 26px;
	width: 545px;
}
table.subpages-main {
	width: 804px;  
	height: 500px;
	position: relative;
	top: -2px;
}
table.two-columns {
	border-style: none;
	margin-left: 25px;
}
table.video-listings {
	border-style: none;
	margin-right: 10px;
}
td.available {
	color: green;
	font-weight: bold;
}
td.center {
	text-align: center;
}
td.form-button {
	text-align: center;
}

td.naming-section {
	text-align: right;
}
td.not-available {
	color: red;
	font-weight: bold;
}
td.right-menu {
	background-color: #EBEBED;
	width: 175px;
	vertical-align: top;
	border-right-style: solid;
	border-color: #B8B8B8;
	border-width: 1px;
}
td.rmenu-heading {
	padding-left: 15px;
	color: #00284F;
}
td.rmenu-item {
	font-size: 14px;
	padding-bottom: 3px;
	padding-left: 15px;
}
td.subpages-main {
	vertical-align: top;
	border-left-style: solid;
	border-color: #B8B8B8;
	border-width: 1px;
}
td.title {
	width: 200px;
	text-align: left;
}
td.two-columns {
	text-align: left;
	width: 250px;
	vertical-align: top;
}
td.video {
	padding-right: 10px;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-top: 17px;
	height: 220px;
}
td.underline {
	text-decoration: underline;
}
th.background-blue {
		background-color: #00284F;
		color: white;
}
ul.pagedesc {
	margin-left: 50px;
	margin-right: 20px;
	text-align: left;
}

/***********************************************/
/*******************GENERAL*******************/
/***********************************************/
p.noSpace {
	margin: 0;
	width: 256px;
}
#backtotop {
	text-align: center;
}
#headervideo {
	width: 187px;
	height: 15px;
}
#loginUser{
	width: 33px; 
	height: 21px;
	border-style: none;
}


#theatrepic1 {
	margin-right: 3px;
}

a:link {color: #30455e; font-family: Arial, Helvetica, sans-serif;text-decoration: none;}     /* unvisited link - old color 62686F */
a:visited {color: #30455e; font-family: Arial, Helvetica, sans-serif;text-decoration: none;}  /* visited link - old color 62686F */ 
a:hover {color: red; font-family: Arial, Helvetica, sans-serif; text-decoration: underline;}   /* mouse over link */
a:active {color: blue; font-family: Arial, Helvetica, sans-serif;text-decoration: none;}   /* selected link */

body {
	padding: 0;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
div.navigation {
	margin-left: 1%;
	margin-right: 1%;
}
div.interview-desc {
	vertical-align: middle;
}
div.linksmapfooter {
	text-align: left;
}

div.main-menu {
	/*text-align: left;*/
}


/*
div.subpages-main-content {
	text-align: left;
}
*/
div.vid-section2{
	visibility: hidden;
}
form {
	display: inline;
	padding: 0px;
	margin: 0px;
}
input {
	background-color: #E8EBEF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 12px;
}

img.columnheader {
	width: 174px;
	height: 16px;
}

img.float-right {
	float: right;
	margin-left: 12px;
}
img.footer {
	width: 806px;
}
img.headernews {
	width: 114px;
	height: 11px;
}

img.headersponcers2 {
	width: 189px; 
	height: 106px;
}
img.headerwelcome{
	width: 131px;
	height: 15px;
}
img.quote-photo {
	width: 150px;
}

img.slideshow2 {
	width: 255px; 
	height: 188px;
}
img.theatrepics {
	margin-top: 10px;
	/*margin-left: 3px;
	margin-right: 3px;*/
}
img.topnavbar {
	width: 527px;
	height: 22px;
	margin-top: 2px;
	border-style: none;
}
img.thumbnail {
	border-style: ridge;
	border-width: 1px;
}

li {
	margin-right: 20px;
}
li.namingcost {
	font-weight: bold;
}
span.bold {
	font-weight: bold;
}
span.bold-italic {
	font-weight: bold;
	font-style: italic;
}
span.fmi-copywrite {
	position: relative;
	left: 267px;
}
span.italic {
	font-style: italic;
}
span.italic-highlight {
	font-style: italic;
	color:#00289F;
}
span.blue-bold-title {
	font-weight: bold;
	color:#3300FF;
}
span.main-page-chat {
	position: relative;
	bottom: 4px;
	right: 2px;
	color: #F8F8F8;
}

span.video-desc-title {
	font-weight: bold;
}
span.underline {
	text-decoration: underline;
}
/** table.column {
	border-style: none;
	width: 257px;	
} **/
table.pfrow {
	border-style: none;
}

table.page-footer {
	width: 804px;
	border-style: none; 
}
table.main {
	width: 804px;
	margin:0 auto; 
	/* position: relative;
	top: -5px; */
}
table.mainpf {
	width: 750px;
	margin:0 auto; 
}

table.main-menu {
	 width: 799px; 
	/* height: 48px; */
	border-style: none;
}

table.projected-need {
	position: relative;
	left: 50px;
}
table.right-menu {
	font-weight: bold;
	margin-right: 20px;
	margin-top: 80px;
	text-align: left;
}

table.subpages-main-content { /* TO DELETE AFER CONVERSION TO subpages-main*/
	width: 804px;  
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-color: #B8B8B8;
	border-width: 1px;
		
}
td.column-chart-vdetail {
	border-color: #B8B8B8;
	border-style: solid;
	border-top-style: none;
	border-bottom-style: none;
	border-width: 1px;
	font-size: 12px;
	padding-left: 80px;
	width: 255px;
}
td.footer {
	width: 804px;
	height: 22px;
	margin-left: 0px;
}

td.js_menu {
	/*padding-top: 81px;*/
	
	vertical-align: bottom;
	
}
td.mainheader {
	height: 127px;
	vertical-align: bottom;
	background-image: url(../ishareImages/header9.jpg); 
}
td.page-footer {
	color: #383838;
	font-family: verdana, helvetica, sans-serif;
	font-size: 11px;
	padding-top: 3px;
	text-align: right;
	border-top-style: solid;
	border-color: #B8B8B8;
	border-width: 1px;
}


td.password {

	/* top: 103px;
	left:752px; 
	width: 102px; */
	width: 13%;
	text-align: right;
	vertical-align: bottom;
}


td.username {

	/* top: 103px;
	left:677px;
	width: 72px;*/
	width: 15%;
	text-align: right;
	vertical-align: bottom;
}
td.registerTable{
	/* padding: 0px 0px 0px 6px; */


	/* top: 103px;
	left:854px;*/
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
	/*width: 56px;*/
	width: 8%;
	text-align: right;
	vertical-align: bottom; 
}
td.registerme{
	font-size: 11px;
	height: 15px;
	font-family: verdana, arial, helvetica, sans-serif;
}
td.register{
	height: 20px;
	text-align: right; 
}
td.right{
	text-align: right;
}

td.rmenu-title {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-decoration: underline;
}

td.topnavbar {
	width: 569px;
	vertical-align: bottom;
	padding-bottom: 19px;
}


td.video-details{
	text-align: justify;
}



th.column-chart-vheading {
	background-color: #00284F;
	border-color: #B8B8B8;
	border-style: solid;
	border-width: 1px;
	font-size: 12px;
	text-align: center;
	color: white;
	width: 255px;
}
textarea {
	background-color: #E8EBEF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 12px;
}
tr.headervideo {
	vertical-align: bottom;
}
tr.headervideo2 {
	vertical-align: top;
}
tr.main-menu {
	height: 101px;

}
ol.pagedesc {
	margin-left: 50px;
	margin-right: 20px;
	text-align: left;
}
select {	
	background-color: #E8EBEF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 10px;
}
select optgroup {	
	color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 10px;
}

ul.right-menu {
	font-size: 12px;
	font-weight: bold;
	list-style-type: none;
	margin-top: 20px;
	text-align: left;
}

.copyright {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-align: center;
}
#fscroller {
	line-height: 1.3;
}

.nav, a.nav, a.nav:visited {
	font-weight: bold;
	font-size: 13px;
	color : #5488C1;
	text-decoration: none;
}
a.nav:hover {
	color: #cc3333;
	text-decoration: underline;
}

.windowbg {
	background-color: #DDE3EB;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, sans-serif;
	color: #304B58;
}
.windowbg2 {
	background-color: #FEFEFE;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, sans-serif;
	color: #304B58;
}
.windowbg3 {
	background-color: #000000;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, sans-serif;
	color: #304B58;
}

.dividerbot {
	border-bottom: 1px #a7b8cc solid;
}
.dividertop {
	border-top: 1px #a7b8cc solid;
}
.hr {
	color: #273F49;
}
.bordercolor {
	width: 804px;

	font-size: 12px;
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: #B1BDC9;
}


.small {
	font-size: 10px;
	font-family: verdana, arial, helvetica, sans-serif;
}
.top{
	font-style: normal;
	font-size: 11px;
	color: #475F79;
}
.titlebg {
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #ffffff;
	/*background-color: #6699cc;*/
	/*background-color: #0330a5;*/
	background-color: #738fbf;
}
.titlebg a{
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #ffffff;
}
.titlebg a:hover{
	text-decoration: underline;
}

.message {
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #62686F;
}
.message a{
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #900000;
	background-color: transparent;
}
.message a:hover{
	text-decoration: underline;
	color: #000000;
	background-color: transparent;
}
.droppageindex {
	float: left;
	font-family: verdana, sans-serif;
	background-color: #ffffff;
	color: #000000;
	padding: 0px;
	padding-left: 4px;
	margin: 0px;
	border: 2px inset;
}
.droppages{
	height: 14px;
	padding-left: 1px;
	padding-right: 1px;
}
.droppages a{
	color: #000000;
	font-size: 9px;
	font-weight: normal;
}
.highlight {
	font-size: 13px;
	font-family: verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFF33;
	color: #000000;
}

/* Image fonts */

.imgbg {
	font-style: normal;
	font-size: 10px;
	color: #ffffff;
}
.imgcatbg {
	font-style: normal;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}
.imgtitlebg {
	font-style: normal;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}
.imgwindowbg {
	font-style: normal;
	font-size: 9px;
	color: #005177;
}
.imgmenu {
	font-style: normal;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}

.quote {
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	color: #000000;
	background-color: #E8EBEF;
	border: 1px #34689A solid;
	width: 90%;
	padding: 4px;
}
.code {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-family: Courier, Courier New, Sans-Serif;
	color: #000000;
	background-color: #cccccc;
	border: 1px #34689A solid;
	width: 90%;
	padding: 4px;
}
/*
.editbg{
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	background-color: #FFFEDF;
	border: 1px #cc0000 solid;
	width: 90%;
	padding: 4px;
}
*/
#container{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border-top: 0px;
	margin-bottom: 10px;
	font-family: verdana, arial, helvetica, sans-serif;
}
.topline{
	border-top: 1px solid #34689A;
}
.topheader{
	background: #4981B8;
	margin-bottom: 10px;
}
.boardcontainer {
	width: 804px;

	background-color: #bbbbbb;
	border-bottom: 3px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}
.displaycontainer {
	width: 804px;

	width: 100%;
	padding: 1px;
	background-color: white;
}
.headerwelc{
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
}
.headerwelc a{
	color: #ffffff;
}
.headerwelc a:hover{
	text-decoration: underline;
}
.headerinfo{
	color: #ffffff;
}
.headerinfo a{
	color: #eeeeee;
	text-decoration: underline;
}
.headerinfo a:hover{
	color: #80DAF2;
}
.seperator {

	width: 804px;

	border-bottom: 3px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	background-color: #bbbbbb;
}
.navbarcontainer{
	margin: 0px;
}

.wen {
	font-weight: bold;
	font-size: 13px;
	color : #5488C1;
	text-decoration: none;
	right: 200px;
}

#generalContainer{
	width: 804px;

}
input.main-page-chat {
	position: relative;
	bottom: 3px;
}
input.chat-button {
	position: relative;
	bottom: 3px;
	font-family: verdana, arial, helvetica, sans-serif;   
	font-size: 10px;  
	color: black; 
	background-color: white;
	padding: 2px; 
	height: 20px; 
	width: 50px; 
	border: 1px solid black;
}
input.myButton { /*TO REMOVE AFTER CONVERTING TO chat-button*/
	font-family: verdana, arial, helvetica, sans-serif;   
	font-size: 10px;  
	color: black; 
	background-color: white;
	padding: 2px; 
	height: 20px; 
	width: 50px; 
	border: 1px solid black;
}

a.registerme{
	position: absolute;
	top: 10px;
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}


#printerFriendly{
	/*position: absolute;
	top: 0px;
	right: 100px;
	left: 500px;*/
	text-align: right;
	font-family: verdana, arial, helvetica, sans-serif;
}

#printerFriendlyIcon{
	/*position: absolute;*/
	top: 0px;
	right: 239px;
}

input.myButton2 { 
	font-family: verdana, arial, helvetica, sans-serif;   
	font-size: 10px;  
	color: black; 
	background-color: white;
	padding: 2px; 
	height: 20px; 
	width: 100px; 
	border: 1px solid white;
} 


td.homeHeadings{
	color: black;
	padding-left: 20px;
	padding-top: 15px;
}

td.homeText{
	padding-left: 20px;
}

td.homeList{
	padding-left: 35px;
}

ul.linksList{
	padding-top: 0px;
	list-style-type: none
}

a.more{
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

a.more:hover {
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

a.videos{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

a.videos:hover {
	background-color: #e0e0e2;
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
}



input.myButton3 { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;  
	color: black; 
	background-color: white;
	padding: 2px; 
	height: 20px; 
	width: 80px; 
	border: 1px solid black;

} 

input.donationForm{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;  
	color: black;
}

#blogroll h4, #blogroll p{
/*background-color: white;*/
margin: 0 0 0 0;
padding: 0 0 0 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#blogroll ul{
list-style-type: none;
margin: 0 0 0 0;
padding: 0;
height: 125px;
width: 230px;
overflow: scroll;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#blogroll li{
background-color: white;
margin: 0 0 0 0;
padding: 0 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#blogroll li a{
padding-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

td.y_inline{
	padding-top: 4px;
}

td.y_inline2{
	padding-top: 10px;
}


input.myButton4 { 
	font-family: verdana, arial, helvetica, sans-serif;   
	font-size: 10px;  
	color: black; 
	background-color: white;
	padding: 2px; 
	height: 20px; 
	width: 94px; 
	border: 1px solid black;
} 


td.columnContent-campaignLeadership{
	font-family: arial;
	font-size:12px;
	color: black;
	padding-left: 10px;
	padding-right:10px;
	line-height: 12pt;
	text-align: center;
}

td.columnContent-newsItem{
	font-family: arial;
	font-size:12px;
	color: black;
	padding-left: 10px;
	padding-right:10px;
	line-height: 12pt ;
	text-align: center;
}

td.columnHeader-center {
	font-family: arial;
	font-size:12px;
	color: black;
	padding-left: 10px;
	padding-right:5px;
	padding-top:7px;
	padding-bottom:2px;
	text-align: center;
}
ul{
	list-style-position: outside;
	list-style-image: url('../ishareImages/arrow.jpg');
}

/* Printer Friendly Files */
td.pfmainheader {
	height: 100px;
	vertical-align: bottom;
}
table.pfrows {
	border-style: none;
	width: 600px;
}
table.pfmain {
	width: 600px;
	margin:0 auto; 
	border-style: solid;
}