/*Optimize font and background colors*/
body { 
	color : #000000; background : #ffffff; font-family : "Verdana", serif; font-size : 10pt; 
}
div.navigation {
	margin-left: 1%;
	margin-right: 1%;
}
h3.pagedesc {
	color: black;
	text-align: center;
}
p.pagedesc {
	text-align: justify;
}
span.blue-bold-title {
	font-weight: bold;
	color: black;
}
/*Remove sections that do not need to be displayed*/
table.main, td.right-menu, td.page-footer, div.flashswf-interview1 {
	display: none;
}
table.subpages-main {
	margin-left: 10px;
	width: 650px;
}
/*Remove left border*/
td.subpages-main {
	vertical-align: top;
	border-left-style: none;
}


