/*Print CSS for the main page (index1.htm)*/

/*Optimize font and background colors*/
body { 
	color : #000000; background : #ffffff; font-family : "Verdana", serif; font-size : 9pt; 
}
div.navigation {
	margin-left:1px;
	margin-right: 500px;
}
/*Remove sections that do not need to be displayed*/
td.mainheader, td.page-footer, td.slideshow, td.column-video, #printerFriendly {
	display: none;
}
table.main {
	position: relative;
	right: 90px;
}
