Canvas {
   cornerRadius: 22;
}


Panel { 
   cornerRadius: 22;
   headerHeight: 15;
   titleStyleName: "myTitleStyle";
} 

.myTitleStyle {
   }

Button { 
   cornerRadius: 11;
}
LinkButton {
	cornerRadius: 5;
}
Label{
	fontFamily: Arial;
}