body {
	/*background-image: url('../images/mainbackground.jpg');
	background-repeat: repeat-x;*/
	background-color: #f2f0f0;
	margin-top: 0px;
	margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

div.header{
    top: 0px; 
    position:absolute; 
    height:170px;
} 

div.menu-section{
    top: 0px; 
    position:absolute; 
    height:170px;
    padding-left:5px;
    padding-right:5px; 
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size:11px;
}    

td.menu-section{

    font-family: Helvetica, Verdana, Arial, sans-serif;
	text-align:left;
	width:250px;
	/*background-image: url('../images/navigation_menu/english_menu.jpg');
	background-repeat: no-repeat;*/
	vertical-align:bottom;
	padding-bottom:10px;
	padding-left:0px;
	background-color:white;
}

tr.menu-section{
	vertical-align:bottom;
}

table.menu-section{
	vertical-align:bottom;
	
}

div.temp{
    top:0px;
    right:5px;
    position:absolute;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size:11px;    
}

/* black bar and red bar */
div.solid-divider{
	top:75px;
	height:37px;
	/*width:990px;*/
	width:790px;
	position:absolute;
	background-color:black;
	color:white;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size:16px;   
	left:0px;
	font-weight:bold;
	padding-top:6px;
    padding-left:5px;
    padding-right:5px

}

div.red-divider{
	top: 110px;
	background-image: url('../images/navigation_header/redbar.jpg');
	background-repeat: repeat-x;
	/*width:1000px;*/
	width:800px;
	height:20px;
	position:absolute;
	left:0px;
}

td.red-divider{
	background-image: url('../images/navigation_header/redbar.jpg');
	background-repeat: repeat-x;
		width:800px;
	height:20px;

}

table.solid-divider{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size:16px;    
	padding-top:0px;
	padding-bottom:5px;
	width:100%;
}

td.align-left{
	text-align:left;
	vertical-align:top;
}

td.align-right{
	text-align:right;
    vertical-align:top;
}

td.align-right-bottom{
	text-align:right;
    vertical-align:bottom;
}

td.align-center{
	text-align:center;
	vertical-align:top;
}


td.align-top{
	text-align:right;
	vertical-align:top;
}

td.align-bottom{
	text-align:left;
	vertical-align:bottom;
}
div.rotating-image-section{
    top: 75px; 
    position:absolute; 
    height:260px;
    padding-left:5px;
    padding-right:5px;    
}    

div.homepage-advertisement-section{
    top: 75px;
    right: 5px;
    position:absolute;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    width:250px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size:11px;    
}

/* Generic main container 
div.mainContainerHome{
	margin-left: auto;
	margin-right: auto;
	width:1000px;
	min-height:1800px;
    height:100%;
	padding: 0px 0px 0px 0px;
	padding-left:0px;
	padding-right:0px;
	background-color: white;
	border-style:solid;
	border-width:1px;
	border-color: #cccccc;
	position:relative;    
}*/

/* Generic main container */
div.mainContainer{
	margin-left: auto;
	margin-right: auto;
	width:800px;
	min-height:1000px;
    height:100%;
	padding: 0px 0px 0px 0px;
	padding-left:0px;
	padding-right:0px;
	background-color: white;
	border-style:solid;
	border-width:1px;
	border-color: #cccccc;
	position:relative;    
	/*-moz-border-radius:10px;
	-webkit-border-radius:10px;
	behavior:url(border-radius.htc);*/
}

img.event-homepage{    
    height:320px;
    width:236px;
	border-style:solid;
	border-width:1px;
	border-color:gray;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
}

table.event-homepage{
	padding-left:0px;
	padding-right:0px;
}

table.event-homepage td{
	width:256px;
}

td.event-homepage-title{
	text-align:center;
	vertical-align:top;
	/*	background-color:black;
background-color:#AD2C2F;*/
}

  
p.event-homepage-heading{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight:bold;
    font-size:14px;
	color:#AD2C2F;
} 

div.homepage-content{
    padding-left:5px;
    padding-right:5px;
    padding-top:400px;
    padding-bottom:30px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight:normal;
    font-size:12px;   
    width:800px;
} 

div.body-content{
    padding-left:30px;
    padding-right:30px;
    padding-top:100px;
	padding-bottom:30px;
    padding-bottom:30px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight:normal;
    font-size:12px;   
    width:940;
	top:30px;
	position:relative;


} 

div.left-column{
    padding-left:10px;
    padding-right:10px;  
    padding-top:0px;
    padding-bottom:10px;     
    /*background-color:yellow;*/
    width:210px;
    position:absolute;
    top:350px;
    left:10px;
    border-style:solid;
    border-color:gray;
    border-width:1px;
    text-align:center;
    color:#AD2C2F;    
    font-weight:bold;    
    font-family:Arial,Helvetica,sans-serif;    
    
}

div.center-column{
    padding-left:10px;
    padding-right:10px;  
    padding-top:0px;
    padding-bottom:10px;  
    /*background-color:red; */ 
    width:210px;
    position:absolute;
    top:350px;
    left:250px;
    border-style:solid;
    border-color:gray;
    border-width:1px;    
    text-align:center;
    color:#AD2C2F;    
    font-weight:bold;    
    font-family:Arial,Helvetica,sans-serif;    
    
}

div.right-column{
    padding-left:10px;
    padding-right:10px;  
    padding-top:0px;
    padding-bottom:10px;   
    /*background-color:red; */
    width:210px;
    position:absolute;
    top:350px;
    left:490px;
    border-style:solid;
    border-color:gray;
    border-width:1px; 
    text-align:center;
    color:#AD2C2F;
    font-weight:bold;    
    font-family:Arial,Helvetica,sans-serif;    
}

div.event-description{
    font-family:Arial,Helvetica,sans-serif;    
    color:black;
    height:100px;
    font-weight:normal;
    position:absolute;
    padding-top:10px;
}

div.event-heading{
    height:50px;
    position:relative;
}    

p.giftabulator-heading{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight:bold;
    font-size:12px;
}    
  

/* Default link styles */
a:link {color: black; font-size: 12px; font-family: Arial, sans-serif;text-decoration: none; font-weight: 550;}     /* unvisited link */
a:visited {color: black; font-size: 12px; font-family: Arial, sans-serif;text-decoration: none;font-weight: 550;}  /* visited link */
a:hover {color: #AD2C2F; font-size: 12px; font-family: Arial, sans-serif; text-decoration: underline;font-weight: 550;}   /* mouse over link */
a:active {color: gray; font-size: 12px; font-family: Arial, sans-serif; text-decoration: none; font-weight: 550;}   /* selected link */

/* Default link styles */
a.navigation:link {color: white; font-size: 12px; font-family: Arial, sans-serif;text-decoration: none; font-weight: 550;}     /* unvisited link */
a.navigation:visited {color: white; font-size: 12px; font-family: Arial, sans-serif;text-decoration: none;font-weight: 550;}  /* visited link */
a.navigation:hover {color: white; font-size: 12px; font-family: Arial, sans-serif; text-decoration: underline;font-weight: 550;}   /* mouse over link */
a.navigation:active {color: gray; font-size: 12px; font-family: Arial, sans-serif; text-decoration: none; font-weight: 550;}   /* selected link */

/* Default link styles for tab section*/
a.navigation-tab:link {color: #666666; font-size: 12px; font-family: Arial, sans-serif;text-decoration: none; font-weight: 700;}     /* unvisited link */
a.navigation-tab:visited {color: #666666; font-size: 12px; font-family: Arial, sans-serif;text-decoration: none;font-weight: 700;}  /* visited link */
a.navigation-tab:hover {color: #f2a32c; font-size: 12px; font-family: Arial, sans-serif; text-decoration: none;font-weight: 700;}   /* mouse over link */
a.navigation-tab:active {color: #666666; font-size: 12px; font-family: Arial, sans-serif; text-decoration: none; font-weight: 700;}   /* selected link */


/* Default link styles for tab section*/
a.active-tab:link {color: #f2a32c; font-size: 12px; font-family: Arial, sans-serif;text-decoration: none; font-weight: 700;}     /* unvisited link */
a.active-tab:visited {color: #f2a32c; font-size: 12px; font-family: Arial, sans-serif;text-decoration: none;font-weight: 700;}  /* visited link */
a.active-tab:hover {color: #f2a32c; font-size: 12px; font-family: Arial, sans-serif; text-decoration: none;font-weight: 700;}   /* mouse over link */
a.active-tab:active {color: #f2a32c; font-size: 12px; font-family: Arial, sans-serif; text-decoration: none; font-weight: 700;}   /* selected link */

table.class-description{
    font-family: Helvetica, Verdana, Arial, sans-serif;    
	padding-top:0px;
	padding-bottom:5px;
	width:100%;
	/*padding-left:30px;
	padding-right:30px;*/
}

td.class-description{
	width:600px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight:normal;
    font-size:12px;
	vertical-align: top;
	padding-right:20px;
}

img{
	border-style:none;
	vertical-align:top;
}

img.float-left { 
    float: left; 
    margin-left: 0px;
    margin-right:20px;
    margin-bottom:10px;
}

img.float-right { 
    float: right; 
    margin-left: 0px;
    margin-right:50px;
    margin-bottom:10px;
}

div.footer{
	background-color: #cccccc;
	bottom: 0px;
	width:940px;
	height:40px;
	color:black;
	position:relative;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight:bold;
    font-size:12px;
	padding-left:30px;
	padding-right:30px;
}

table.pricing-table{
	width:400px;	
	padding-left:1px;
	padding-right:1px;
	border-style:solid;
	border-color:#cccccc;
	border-width:1px;
}

tr.pricing-header{
	background-color:#5e616f;
	color: white;
	padding-left:5px;
	padding-right:5px;
}

tr.pricing-white-row{
	background-color:#ffffff;
}

tr.pricing-gray-row{
	background-color:#e3e3e8;	
}

table.volunteer-table{
	width:350px;	
	padding-left:1px;
	padding-right:1px;
	border-style:solid;
	border-color:#cccccc;
	border-width:1px;
}

table.volunteer-list-container td{
	padding-left:10px;
	padding-right:10px;
	vertical-align:top;
}

p.important-note{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight:bold;
    font-size:12px;	
	color:#AD2C2F;
}

/* new */
span.subtitle{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight:bold;
    font-size:12px;	
	color:#AD2C2F;
}

img.image-logo{
	width:150px;
	vertical-align:top;
}

img.side-image{
	width:250px;
	vertical-align:top;
}

span.bold-title{
	font-family: Helvetica, Verdana, Arial, sans-serif;
    font-weight:bold;
    font-size:12px;	
	color:black;
}
table.membership-discount-logo{
	border-style:solid;
	border-width:1px;
	border-color:#cccccc;
	width:740px;
}

table.membership-discount-logo td{
	border-style:solid;
	border-width:1px;
	border-color:black;
	vertical-align:middle;
	text-align:center;
	padding-right:10px;
	padding-left:10px;
}

img.giftshop-item{
	width:120px;
}

td.giftshop {
	height:50px;
	width:150px;
	border-color:#cccccc;
	border-style:solid;
	border-width:1px;
	vertical-align:top;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:10px;
}

input.btn {
  color:white;
  font-family: helvetica,sans-serif;
  background-color:#AD2C2F;
  border: 1px solid;
  font-size:11px;
  border-color: #696 #363 #363 #696;
}

input.inputbox {
  color:#050;
  font-family: helvetica,sans-serif;
  background-color:white;
  border: 1px solid;
  font-size:11px;
  border-color: #696 #363 #363 #696;
}