#carousel{
	width: 600px;
	height: 435px;
	margin:0px;
	padding: 0px;
}

#control{
	width: 100%;
	height:35px;
	margin: 0px;
	padding: 0px;
	background-color: black;
}

#description{
	position: relative;
	/*position: absolute;
	top: 340px;*/
	height: 70px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	
}
#descText{
	position:absolute;	
	top: 0px;
	left: 0px;
	padding:5px 10px 5px 5px;
	width: 99%;
	height: 50px;
	color: black;
	font-family: Arial, Helvetica;
	font-size: 14px;
	
}
#descTransparency{
	position:absolute;
	top: 0px;
	width: 100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	
	background-color:#ffffff;
	/* for IE */
	filter:alpha(opacity=70);
	/* CSS3 standard */
	opacity:0.7;
}

#display{
	width: 600px;
	height: 400px;
}

#next{
	position: relative;
	top: 5px;
	left: 545px;
}
#picture{
	width: 100%;
	height: 100%;
}
#position{
	position: relative;
	bottom: 18px;
	left: 255px;
	/*position: absolute;
	top: 439px;
	left: 260px;*/
	width: 100px;
	height: 20px;
}

#prev{
	position: relative;
	top: 5px;
	left: 7px;
}

#transparency{
	
	width: 100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	
	background-color:#ffffff;
	/* for IE */
	filter:alpha(opacity=30);
	/* CSS3 standard */
	opacity:0.3;
}

img.dot{
	padding:3px;
}