Accordion {
   selectedFillColors: #000000, #cccccc;
   themeColor: #000000;
   backgroundColor: #000000;
   borderColor: #b7babc;
   textSelectedColor: #ffffff;
   headerStyleName: "myaccordionHeader";
}

.myaccordionHeader {
   color: #ffffff;
   fontWeight: bold;
}

Panel {
   borderColor: #000000;
   borderAlpha: 1;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   color: #ff9900;
}