Application {
	backgroundColor: #000000;
	backgroundGradientColors: #000000, #000000;
	verticalAlign: middle;
}
Button {
	color: #000000;
}

Panel {
	borderAlpha: 0.75;
}
ProgressBar {
	color: #000000;
}
TileList {
	backgroundColor: #000000;
	borderColor: #000000;
	selectionDisabledColor: #111111;
	backgroundDisabledColor: #111111;
	selectionColor: #FF9900;
	rollOverColor: yellow;
}
.windowStyles {
	color: #000000;
}