div {
	font-family: Tahoma, Helvetica;
}

.clsCMOn, .clsCMOver {
	font-size: 12px;
        padding: 4px 6px;
	color: black;
	white-space: nowrap;
}

form {
	margin: 0;
}

input.text {
	border: 1px solid black;
	background-color: #F8F8F8;
	width: 114px;
}

textarea {
	border: 1px solid black;
	background-color: #F8F8F8;
	width: 160px;
	height: 56px;
}

select {
	background-color: #F8F8F8;
	width: 161px;
}