
/*reset*/
html,body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
/*ul,ol {list-style:none;}*/
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}

#carousel{
	width: 600px;
	height: 435px;
	margin:0px;
	padding: 0px;
	margin-top:20px; 
}

#control{
	width: 100%;
	height:35px;
	margin: 0px;
	padding: 0px;
	background-color: black;
}

#description{
	position: relative;
	/*position: absolute;
	top: 340px;*/
	height: 70px;
	width: 97%;
	margin: 0px;
	padding: 0px;
	
}
#descText{
	position:absolute;	
	top: 0px;
	left: 0px;
	padding:20px 10px 5px 5px;
	width: 95%;
	color: black;
	font-family: Helvetica Light, Helvetica;
	font-size: 18px;
	/*font-weight: bold; adjustment */
	font-weight:300;
	text-align: right;
}
#descTransparency{
	position:absolute;
	top: 0px;
	width: 100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	
	background-color:#ffffff;
	/* for IE */
	filter:alpha(opacity=70);
	/* CSS3 standard */
	opacity:0.7;
}

#display{
	width: 600px;
	height: 400px;
}
#donate{
	position: absolute;
	top: 18px;
	/*left: 33px; adjustment */
	left:17px;
	z-index: 12;
	/* for IE */
	filter:alpha(opacity=80);
	/* CSS3 standard */
	opacity:0.8;
}
#donateTop{
	position: absolute;
	top: 5px;
	/*left: 113px; adjustment */
	left:96px;
	z-index: 13;
}
#donateLeft{
	position: absolute;
	top: 89px;
	/* change 
	left: 16px;*/
	left:0px;
	z-index: 13;
}
#next{
	position: relative;
	top: 5px;
	left: 545px;
}
#picture{
	width: 100%;
	height: 100%;
}
#position{
	position: relative;
	/*position: absolute;
	top: 439px;
	left: 260px;*/
	/* changed width to accommodate for more pictures in carousel [wendy - june16.2011]
	   adding left positioning */
	/* width: 100px */
	/*width: 300px;*/
	height: 20px;
	left:100px;
	/*right:500px;
	background-color:red;*/
}

#prev{
	position: relative;
	top: 5px;
	left: 7px;
}
#transLeft{
	position: relative;
	bottom: 150px;
	/*right: 19px;*/
	right:19px;
	z-index: 10;
}
#transparency{
	
	width: 100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	
	background-color:#ffffff;
	/* for IE */
	filter:alpha(opacity=30);
	/* CSS3 standard */
	opacity:0.3;
}

img.dot{
	padding:3px;
}