.clsCMOn, .clsCMOver {
    font: 12px Verdana;
    color: white;
}

.clsCMOn_submenu, .clsCMOver_submenu {
    font: 12px Verdana;
    padding: 2px 4px;
	text-align:left;
    color: white;
}


select {
	background-color: yellow;
	width: 161px;
}