a {
	font-weight: normal;
	color: #62686F;
	font-family: Verdana, Arial, Sans-Serif;
	text-decoration: none;
}
a:hover {
	color: #000000;
	font-family: Verdana, Arial, Sans-Serif;
	text-decoration: underline;
}
body {
	padding: 0;
	background-color: white;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin-top: 5px;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
form {
	display: inline;
	padding: 0px;
	margin: 0px;
}
input {
	background-color: #E8EBEF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 12px;
}
textarea {
	background-color: #E8EBEF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 12px;
}
select {	
	background-color: #E8EBEF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 10px;
}
select optgroup {	
	color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 10px;
}
.copyright {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-align: center;
}
#fscroller {
	line-height: 1.3;
}

.nav, a.nav, a.nav:visited {
	font-weight: bold;
	font-size: 13px;
	color : #5488C1;
	text-decoration: none;
}
a.nav:hover {
	color: #cc3333;
	text-decoration: underline;
}

.windowbg {
	background-color: #DDE3EB;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, sans-serif;
	color: #304B58;
}
.windowbg2 {
	background-color: #FEFEFE;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, sans-serif;
	color: #304B58;
}
.windowbg3 {
	background-color: #000000;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, sans-serif;
	color: #304B58;
}

.dividerbot {
	border-bottom: 1px #a7b8cc solid;
}
.dividertop {
	border-top: 1px #a7b8cc solid;
}
.hr {
	color: #273F49;
}
.bordercolor {
	width: 804px;

	font-size: 12px;
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: #B1BDC9;
}
.small {
	font-size: 10px;
	font-family: verdana, arial, helvetica, sans-serif;
}
.top{
	font-style: normal;
	font-size: 11px;
	color: #475F79;
}
.titlebg {
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #ffffff;
	/*background-color: #6699cc;*/
	/*background-color: #0330a5;*/
	background-color: #738fbf;
}
.titlebg a{
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #ffffff;
}
.titlebg a:hover{
	text-decoration: underline;
}
.catbg {
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #ffffff;
	background-color: #ADC7E1; 
}
.catbg a{
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #ffffff;
}
.catbg a:hover{
	text-decoration: underline;
}
.message {
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #62686F;
}
.message a{
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #900000;
	background-color: transparent;
}
.message a:hover{
	text-decoration: underline;
	color: #000000;
	background-color: transparent;
}
.droppageindex {
	float: left;
	font-family: verdana, sans-serif;
	background-color: #ffffff;
	color: #000000;
	padding: 0px;
	padding-left: 4px;
	margin: 0px;
	border: 2px inset;
}
.droppages{
	height: 14px;
	padding-left: 1px;
	padding-right: 1px;
}
.droppages a{
	color: #000000;
	font-size: 9px;
	font-weight: normal;
}
.highlight {
	font-size: 13px;
	font-family: verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFF33;
	color: #000000;
}

/* Image fonts */

.imgbg {
	font-style: normal;
	font-size: 10px;
	color: #ffffff;
}
.imgcatbg {
	font-style: normal;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}
.imgtitlebg {
	font-style: normal;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}
.imgwindowbg {
	font-style: normal;
	font-size: 9px;
	color: #005177;
}
.imgmenu {
	font-style: normal;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}

.quote {
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	color: #000000;
	background-color: #E8EBEF;
	border: 1px #34689A solid;
	width: 90%;
	padding: 4px;
}
.code {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-family: Courier, Courier New, Sans-Serif;
	color: #000000;
	background-color: #cccccc;
	border: 1px #34689A solid;
	width: 90%;
	padding: 4px;
}
.editbg{
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	background-color: #FFFEDF;
	border: 1px #cc0000 solid;
	width: 90%;
	padding: 4px;
}

#container{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border-top: 0px;
	margin-bottom: 10px;
	font-family: verdana, arial, helvetica, sans-serif;
}
.topline{
	border-top: 1px solid #34689A;
}
.topheader{
	background: #4981B8;
	margin-bottom: 10px;
}
.boardcontainer {
	width: 804px;

	background-color: #bbbbbb;
	border-bottom: 3px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}
.displaycontainer {
	width: 804px;

	width: 100%;
	padding: 1px;
	background-color: #bbbbbb;
}
.headerwelc{
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
}
.headerwelc a{
	color: #ffffff;
}
.headerwelc a:hover{
	text-decoration: underline;
}
.headerinfo{
	color: #ffffff;
}
.headerinfo a{
	color: #eeeeee;
	text-decoration: underline;
}
.headerinfo a:hover{
	color: #80DAF2;
}
.seperator {

	width: 804px;

	border-bottom: 3px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	background-color: #bbbbbb;
}
.navbarcontainer{
	margin: 0px;
}

.wen {
	font-weight: bold;
	font-size: 13px;
	color : #5488C1;
	text-decoration: none;
	right: 200px;
}

#generalContainer{
	width: 804px;

}

input.myButton { 
	font-family: verdana, arial, helvetica, sans-serif;   
	font-size: 10px;  
	color: black; 
	background-color: white;
	padding: 2px; 
	height: 20px; 
	width: 50px; 
	border: 1px solid black;
} 

a.registerme{
	position: absolute;
	top: 10px;

	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

td.registerme{
	font-size: 11px;
	height: 15px;
	font-family: verdana, arial, helvetica, sans-serif;
}

td.registerTable{
	padding: 0px 0px 0px 6px;
	font-size: 11px;
	font-family: verdana, arial, helvetica, sans-serif;
}

#printerFriendly{
	position: absolute;
	top: 0px;
	right: 230px;
	font-family: verdana, arial, helvetica, sans-serif;
}

#printerFriendlyIcon{
	position: absolute;
	top: 0px;
	left: 369px;
}

input.myButton2 { 
	font-family: verdana, arial, helvetica, sans-serif;   
	font-size: 10px;  
	color: black; 
	background-color: white;
	padding: 2px; 
	height: 20px; 
	width: 20px; 
	border: 1px solid white;
} 