.l0_out, .l0_over {
    font: 10pt/24px Arial;
    color: black;
    background: no-repeat right top url(images/l0_right_bg.gif);
}

.l1_out, .l1_over {
    font: 8pt/16px Arial;
    color: white;
    text-align: right;
    margin: 0 9px;
}

.l1_over {
    background: no-repeat left bottom url(images/l1_left_bg_over.gif);
}

.l1_out {
    background: no-repeat left bottom url(images/l1_left_bg_out.gif);
}

.l1_bg_top {
    background: url(images/l1_bg_top.gif);
}

.l1_bg_middle {
    background: url(images/l1_bg_middle.gif);
}

.l1_bg_bottom {
    background: left bottom url(images/l1_bg_bottom.gif);
}
