/*************************************************/
/*******************HOMEPAGE*******************/
/*************************************************/

img.slideshow {
	width: 256px;
	height: 188px;
	margin-left: 5px;
	margin-right: 5px;
}
img.main-slideshow {
	width: 780px;
	height: 395px;
}

td.columnContent{
    height: 190px;
	font-family: arial;
	font-size:12px;
	color: black;
	padding-left: 13px;
	padding-right:22px;
	line-height: 12pt ;
    background-color: white;   
    vertical-align: top;
    background-image: url(../ishareImages/content_bg_body.jpg);
    width:260px;
    height: 200px;
    background-repeat:repeat-y;
    text-align: justify;
    /*background-color: blue;*/

}
td.columnContent-more{    
	font-family: arial;
	font-size:12px;
	color: black;
	padding-left: 10px;
	padding-right:15px;
	line-height: 12pt ;
    background-color: white;
    text-align: right;
    background-image: url(../ishareImages/content_bg_bottom.jpg);
    background-repeat:no-repeat;
    width:260px;
    height:49px;
}
td.columnContent h3{
   margin-top:5px;
   margin-bottom: 5px;
   text-align: center;
   padding-top:10px;
   height: 25px;
   background-color: blue;
   color: white;
   font-size: 1.3em;
}
td.columnContent img{
   text-align: center;
   margin: auto;
}
td.columnHeader {
	font-family: Gill Sans MT, arial;
	font-size:12px;
	color: #ad1d1c;
	padding-top:5px;
   padding-bottom:0;
   background-image: url(../ishareImages/content_bg_top.jpg); 
   /*background-color: green;*/
   background-repeat:no-repeat;
   width: 260px;
   height: 18px;
}
td.main-slideshow {
/*
    border-left-style: solid;
	border-right-style: solid;
	border-color: #d8d8d8;
	border-width: 1px;
*/   
    padding-top: 10px;
    padding-bottom: 15px;
    /*background-color: #f1f1f1;*/
    /*background-image: url(../ishareImages/slideshow_bg.jpg); */
    margin-top: 10px;
    margin-bottom:10px;
}
td.slideshow {
	padding-top: 3px;
}   
tr.main-menubar{
   width: 804px;
   color:white;
   margin-bottom:6px;
}
tr.main-menubar td a{
   font-size: 14px;
   margin-left:13px;
   margin-right:26px;
   font-family:Tahoma, Times New Roman, Serif;
   font-weight:none;
}
tr.main-menubar td a:link{
   color: white;
}
tr.main-menubar td a:visited{
   color:white;
}

/*************************************************/
/*******************SUB-PAGES*******************/
/*************************************************/

.floorplans{
	font-weight: bold;
}
a.link {
    font-size: 16px;
}
h3.pagedesc {
	text-align: left;
   padding-left: 10px;
	color: #990000;
   font-size:1.1em;
   margin-top:5px;
   margin-bottom:6px;
}
h4.pagedesc {
	margin-left: 50px;
	margin-right: 20px;
	text-align: center;
	color: #00284F;
}
img.float-left {
	float: left;
	margin-right: 12px;
	margin-bottom: 5px;
}
img.heading {
    margin-top: 25px;
	margin-left: 0;
}

li.named {
	text-decoration: line-through;
}
p.footnote{
	text-align: justify;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 30px;
	font-size: 12px;
	font-style: italic;
}
p.giftLevels{
	text-align: center;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 15px;
}
p.naming {
	text-align: justify;

    width: 100%;
}
p.pagedesc {
	text-align: justify;
	margin-left: 8px; 
	margin-right: 20px;
	margin-bottom: 25px;
   line-height: 1.5;
}

table.naming-availability {
	width: 545px;
    margin: 0 auto;
    margin-bottom: 50px;
}
table.subpages-main {
	width: 804px;  

	/*position: relative;
	top: -2px;*/
}

td.available {
	color: green;
	font-weight: bold;
}
td.not-available {
	color: red;
	font-weight: bold;
}
th.namingop {
		background-color: #9e191a;
		color: white;
}
td.center {
	text-align: center;
}
td.left-menu-item {
    width: 175px;
    padding: 10px 0px 10px 10px;
}
td.left-menu-item:hover {
    width: 175px;
    padding: 10px 0px 10px 10px;
    background-color: black;
}
.left-menu-section {
   vertical-align:top;
	width: 175px;
}
td.left-menu-title {
    border-bottom-style: solid;
    border-width: 1px;
    font-size: 24px;
    padding: 0px 0px 5px 10px;
}

td.subpages-main {
	vertical-align: top;
   /*
	border-right-style: solid;
	border-color: #d8d8d8;
	border-width: 1px;
   */
    background-image: url(../ishareImages/background1.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    /*height: 550px;*/
}

ul.pagedesc {
	margin-left: 50px;
	margin-right: 20px;
	text-align: left;
}


/***********************************************/
/*******************GENERAL*******************/
/***********************************************/

a:link {color: black; font-family: Arial, Helvetica, sans-serif;text-decoration: none;}     /* unvisited link */
a:visited {color: /*#ad1d1c;*/black; font-family: Arial, Helvetica, sans-serif;text-decoration: none;}  /* visited link */
a:hover {color: black; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}   /* mouse over link */
a:active {color: black; font-family: Arial, Helvetica, sans-serif;text-decoration: none;}   /* selected link */

/*Subpages Left Menu Link*/
a.left-menu:link {color: white; font-family: Arial, Helvetica, sans-serif;text-decoration: none;}     /* unvisited link */
a.left-menu:visited {color: white; font-family: Arial, Helvetica, sans-serif;text-decoration: none;}  /* visited link */
a.left-menu:hover {color: white; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}   /* mouse over link */
a.left-menu:active {color: white; font-family: Arial, Helvetica, sans-serif;text-decoration: underline;}   /* selected link */

body {
	padding: 0;
	/*background-color: #f1f1f1;*/
   background-color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
    margin-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
div.navigation {
	margin-left: 1%;
	margin-right: 1%;
}


.main-menu {
	text-align: center;
   margin-bottom: 20px;
}
form {
	display: inline;
	padding: 0px;
	margin: 0px;
}
input {
	background-color: #E8EBEF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 12px;
}
img.columnheader {
	width: 174px;
	height: 16px;
}

img.float-right {
	float: right;
	margin-left: 12px;
}
img.topnavbar {
	width: 527px;
	height: 22px;
	margin-top: 2px;
	border-style: none;
}
img.thumbnail {
	border-style: ridge;
	border-width: 1px;
}

span.bold {
	font-weight: bold;
}
span.bold-italic {
	font-weight: bold;
	font-style: italic;
}
span.italic {
	font-style: italic;
}
span.italic-highlight {
	font-style: italic;
	color:#00289F;
}
span.red-bold-title {
	font-weight: bold;
	color:#ad1d1c;
   font-size:14px;
}

span.underline {
	text-decoration: underline;
}

table.left-menu {
    color: white; 
    font-size: 14px; 
    font-weight: bold; 
    border-spacing: 0px 10px;
    border-collapse: collapse;
}    

table.page-footer {
	width: 804px;
	border-style: none; 
}
table.main {
	width: 804px;
	margin:0 auto; 
	/* position: relative;
	top: -5px; */
    background-color: white;
}

table.main-menu {
	border-style: none;
   text-align: center;
   margin: auto;
   padding-bottom: 3px;
}


td.js_menu {
	/*padding-top: 81px;*/
	
	vertical-align: bottom;
    padding-bottom: 0px;  
	
}
td.mainheader {
	height: 136px;
   width:804px; 
	vertical-align: bottom;
	background-image: url(../ishareImages/header9.jpg); 
   background-repeat:no-repeat;
}
td.page-footer {
    height: 40px;
	color: #383838;
	font-family: verdana, helvetica, sans-serif;
	font-size: 11px;
	padding-top: 3px;
    padding-right: 10px;
	text-align: right;	
    background-color: white;
    vertical-align: bottom;
}



tr.main-menu {
	height: 136px;
   width: 804px;
}

select {	
	background-color: #E8EBEF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 10px;
}
select optgroup {	
	color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 10px;
}

ul.right-menu {
	font-size: 12px;
	font-weight: bold;
	list-style-type: circle;
	text-align: left;
}


.nav, a.nav, a.nav:visited {
	font-weight: bold;
	font-size: 13px;
	color : #5488C1;
	text-decoration: none;
}
a.nav:hover {
	color: #cc3333;
	text-decoration: underline;
}

.bordercolor {
	width: 804px;

	font-size: 12px;
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: #B1BDC9;
}

#container{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border-top: 0px;
	margin-bottom: 10px;
	font-family: verdana, arial, helvetica, sans-serif;
}

.navbarcontainer{
	margin: 0px;
}

img { 
   border: none; 
}
img.center{
	margin-left: auto;
	margin-right: auto;
   display:block; 
}
td.subnavigation{
   height:20px;
   width: 804px;
   text-align: center;
   padding-top:5px;
   margin-bottom:5px;
   font-size:12px;
}

.subnavigation a{
   padding: 0 18px 0 18px;
}
.subnavigation a:hover{
   color:red;
   cursor:hand;
}
td.mainPanel-top{
    background-image: url(../ishareImages/main_bg_top.jpg); 
    width:629px;
    height:40px;
    background-repeat:repeat-y;
    padding: 0 0 0 0;
}
td.mainPanel-mid{
   vertical-align:top;
    background-image: url(../ishareImages/main_bg_mid.jpg); 
    width:629px;
    height:450px;
    background-repeat:repeat-y;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 1.5;
}

td.mainPanel-bottom{
    background-image: url(../ishareImages/main_bg_bottom.jpg); 
    width:629px;
    height:51px;
    background-repeat:repeat-y;
    padding: 0 0 0 0;
}
td.sidePanel-top{
    background-image: url(../ishareImages/side_bg_top.jpg); 
    width:175px;
    height:32px;
    background-repeat:no-repeat;
    padding: 0 0 0 0;
}
td.sidePanel-mid{
    background-image: url(../ishareImages/side_bg_mid.jpg); 
    width:175px;
    height:250px;
    background-repeat:repeat-y;
    padding: 45px 0 0 0;
    margin: auto; 
    text-align:left;
    vertical-align:top;
}
td.sidePanel-mid  ul{ 
   list-style-type: none; 
   padding-left:10px;
   padding-right:10px;
   margin-top:12px;
}
td.sidePanel-mid  ul li{
   font-weight:bold;
   padding-left:20px;
   padding-right:5px;
   padding-bottom:7px;
   font-size: 0.9em;
   background-image: url(../ishareImages/side_bullet.jpg);
   background-repeat:no-repeat;
   /*font-weight: bold;*/
   /*color:#6633ff;*/
}

td.sidePanel-bottom{
    background-image: url(../ishareImages/side_bg_bottom.jpg); 
    width:175px;
    height:36px;
    background-repeat:no-repeat;
    padding: 0 0 0 0;
}
.centered-text{
   text-align:center;
}
.info-table{
   border-collapse:collapse; 
   border-style:solid; 
   border-color:#990000;
}
td.sidePanel-mid  ul li a:hover{
   color:red;
}

div.guestform{
   text-align: center;
   border-style:solid;
   border-color:#bac1e0; 
   padding:30px; 
   border-width:1px;
   margin-top:8px;
   margin-bottom:11px;
   width:20em;
}
h4.guestheading{
   margin:5px 5px 5px 5px;
}
img.slideshow-frame{
   position:relative; 
   top:-402px; 
   margin-bottom:-402px;
}

/* GALA GALLERY */
img.gala_images{
	width:79px;
	height:100px;
	padding: 0px 0px 0px 0px;
}

table.gala_images{
	padding:0px 0px 0px 0px;
	border-style:solid;
	padding-left:0px;
	padding-right:0px;
	border-color:black;
	border-width:1px;
}

img.gallery-thumb{

}

div.sshow-large{
	width:700px;
	height:200px;
}
table.gala_images td{
	padding:0px 0px 0px 0px;
	border-style:solid;
	border-width:1px;
	border-color:black;
	width:30px;
}	

td.gala_images{

}
 