#bar1 {
	position: relative;
	height: 17px;
	bottom: 15px;
	width: 100%;
	margin: 0;
	
	background-image: url('../images/bar1_red.jpg');
	background-repeat: repeat-x;
	z-index: 15;
}

#bar1_blue {
	position: relative;
	height: 14px;
	bottom: 15px;
	width: 97%;
	margin: 0 auto;
	background-image: url('../images/bar1_blue.jpg');
	background-repeat: repeat-x;
	z-index: 15;
}

#bar1_brown {
	position: relative;
	height: 14px;
	bottom: 15px;
	width: 97%;
	margin: 0 auto;
	background-image: url('../images/bar1_brown.jpg');
	background-repeat: repeat-x;
	z-index: 15;
}

#bar1_yellow {
	position: relative;
	height: 14px;
	bottom: 15px;
	width: 97%;
	margin: 0 auto;
	background-image: url('../images/bar1_yellow.jpg');
	background-repeat: repeat-x;
	z-index: 15;
}

#front-body-middle-container {
	width: 100%;
	height: 525px;
	padding: 0;
	margin: 0 0 70px 0; 
	/*background-color: orange;*/
}
#footer {
	background-color: #dfe0da;
	/*width: 95%; */
	width:100%;
	/*height: 23px; */
	height:46px;
	margin: 0px;
	/*padding: 2px 5% 0px 0px;*/
	text-align: right;
	padding-top:10px;
	padding-bottom:10px;
	position: relative;
	z-index: 16;
}
#front-page-news-container {
	position: absolute;
	/*top: 570px; adjustment */
	top: 559px;
	padding-left: 25px;

}
#header {
	background-image: url('../images/hbar.jpg');
	background-repeat: repeat-x;
	background-position: 0px 59px;
	width: 100%; 
	height: 200px;
}
#header-right-side{
	position: relative;
	left: 663px;
}

#main-content {
	position: relative;
	/*background-color: green;*/
	width: 650px;
	/*height: 100%;*/
	margin: 0;
	padding: 0;
	
}
#logo-top-left {
	position: absolute;
	/*top: 16px;*/
	top:6px;
	/*left: 15px; adjustment */
	left:20px;
	z-index: 9;
}
#menu{
	position: absolute;
	top: 125px;
	left: 235px;
	z-index: 100;
	padding: 0;
	margin: 0;
}
#menu-about{
	
}
#menu-line{
	position: absolute;
	left: 39px;
	top: 9px;
	z-index: 0;
}
#news-column1{
	position: relative;
	/*left: -11px; adjustment */
	left: -7px;
}
#news-column2{
	position: relative;
	/*right: -5px; adjustment */
	right:-20px;
}
#news-column3{
	position: relative;
	/*right: -21px; adjustment*/
	right: -48px;
}
#sidebar {
	position: relative;
	/*top: -815px;*/
	/*top: -385px;*/
	top:-364px;
	left: 650px;
	background-image: url('../images/sidebar_vbar.jpg');
	background-repeat: repeat-y;
	background-position: 23px 0px;
	width: 300px;
/*	height: 385px;*/
/*	height:364px;*/
	height:650px;
	margin: 0;
	padding: 0;
	
}
#side-bar-logo{
	position: relative;
	left: 3px;
	top: 50px;
}
#side-bar-section-header{
	position: relative;
	top: 63px;
	left: 37px;
}
#sidebar-section-item-container{
	position: relative;
	top: 60px;
	padding-right:10px;
	padding-left:12px;
	
}
#sub-body-middle-container {
	width: 100%;
	min-height: 500px;
	padding: 0 0 20px 0;
	margin: 0;
	/*background-color: orange;*/
}
#sub-page-content {
	position: relative;
	padding: 25px 300px 25px 0px;
	min-height: 900px;
}
#sub-sidebar {
	position: absolute;
	left: 650px;
	top: 202px;
	background-image: url('../images/sidebar_vbar.jpg');
	background-repeat: repeat-y;
	background-position: 23px 0px;
	width: 300px;
	min-height: 985px;
	margin: 0;
	padding: 0;
	z-index: 14;
}
#school-title{
	position: absolute;
	left: 150px;
	top: 15px;
	color: #8b0b04;
	font-size: 30px;
	font-family: Myriad Pro, Arial, Helvetica;
}
#wrapper {
	background-color: white;
	width: 950px; 
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.header1{
	font-weight: bold;
}
.header2{
	font-weight: bold;
}
body{
	/*background-image: url('../images/background_temp1.jpg');*/
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	font-family: Helvetica Light, Helvetica;
	/*color: #595959;*/
	color:black;
}
div {
	margin: 0;
	padding: 0;
}
div.front-column{
	float: left;
	/*background-image: url('../images/boxheading1.png');
	background-repeat: no-repeat;*/
	width: 300px;
}

div.sidebar-section-item{
	padding: 10px 33px 10px 33px;
}
div.menu-item{
	width: 90px;
	float:left;
}
div.news-item{
	padding-bottom: 17px;
}
li.fact-item{
	margin-bottom: 15px;
}
img.menu-item{
	position: relative;
	padding: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: none;
	z-index: 1;
}
p.front-column{
	padding: 10px;
}

a:link {color:#8b0b04;}      /* unvisited link */
a:visited {color:#8b0b04;}  /* visited link */
a:hover {color:#7b7b7b;}  /* mouse over link */
a:active {color:black;}  /* selected link */


div.content-constraint{
width:240px;
text-align:left;

}

span.design{
	float:left;
	font-size:12px;
	padding-left:20px;
	padding-top:5px;
}

span.weburl{
	float:right;
	padding-top:5px;
	font-size:12px;
	padding-right:20px;

}

p.home-col-content{
padding: 20px 20px 20px 20px;

}

blockquote {
color: #8b0b04;
font-style: italic;
font-family:'Helvetica', Courier, monospace;
padding: 20px 20px 20px 20px;

}
blockquote p:before {
content: '"';
font-size: 30px;
}
blockquote p:after {
content: '"';
font-size: 30px;
}

span.home-heading{
	text-align:center;
	font-size:26px;
	padding-left:20px;
	padding-right:20px;
	color:black;
}

img.divider{
border:0px;
}

span.sidebar-item-desc{
font-size:12px;
}