.clsCMOn, .clsCMOver {
    font: 12px Tahoma, Helvetica;
    padding: 2px 4px;
    color: black;
}

.clsCMOnRed, .clsCMOverRed {
    font: 12px Tahoma, Helvetica;
    padding: 2px 4px;
    color: red;
}

.clsCMOnGreen, .clsCMOverGreen {
    font: 12px Tahoma, Helvetica;
    padding: 2px 4px;
    color: green;
}

.clsCMOnBlue, .clsCMOverBlue {
    font: 12px Tahoma, Helvetica;
    padding: 2px 4px;
    color: blue;
}

.clsCMOnCentered, .clsCMOverCentered {
    font: 12px Tahoma, Helvetica;
    padding: 2px 4px;
    color: black;
    text-align: center;
}

.clsCMOnImaged {
}

.clsCMOnImaged {
    background: url(images/tile.gif);
}

