.clsCMOn, .clsCMOver {
    font: 13px Verdana, Arial, Helvetica;
    padding: 2px 4px;
    color: white;
	padding: 0px 0px 0px 10px;   /* padding-top padding-right padding-bottom padding-left */

}
