.clsCMOn, .clsCMOver, .clsCMOverBold, .clsCMOverItalic, .clsCMOverUnderline, .clsCMOverColored {
    font: 12px Tahoma, Helvetica;
    padding: 2px 4px;
}

.clsCMOverBold {
    font-weight: bold;
}

.clsCMOverItalic {
    font-style: italic;
}

.clsCMOverUnderline {
    text-decoration: underline;
}

.clsCMOverColored {
    color: red;
}
