Accordion {
   selectedFillColors: #3D5486, #3D5486;
   backgroundColor: #3D5486;
   borderColor: #b7babc;
   headerStyleName: "myaccordionHeader";
}

.myaccordionHeader {
   fontWeight: bold;
}

Panel {
   borderColor: #3D5486;
   borderAlpha: 1;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   color: white;
}