body {
	font-family: tahoma;
	font-size: 70%;
	padding: 0 10px 10px 10px;
}

td {
	font-size: 70%;
}

p {
	text-align: justify;
}

h1 {
	font-size: 130%;
	font-family: arial;
}

pre {
	font-size: 9pt;
	padding: 10px;
	background-color: #F8F8F8;
	border: 1px solid #F0F0F0;
}

.clsCMOn {
    color: black;
    font: 12px Tahoma, sans-serif;
    padding-left: 4px;
}

.clsCMOver {
    color: white;
    font: 12px Tahoma, sans-serif;
    padding-left: 4px;
}
