<div style="width:768px;font-family:helvetica;">
<div style="float:left;width:485px;background-color:#404041; padding: 10px;">
<div style="font-size:30px;padding:15px 15px 15px 15px; color: #ffffff;">
Title of the email
</div>

<div style="font-size:18px;color:#cccccc;padding:15px 15px 15px 15px;">Subtitle</div>

<p style="text-align:justify;color:#cccccc;padding:15px 15px 15px 15px;">
THIS IS THE BODY TEXT.
<br><br>
YOU CAN BREAK IT UP USING BR TAGS.
<br><br>
BR are line breaks.
<br><br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim tellus et dolor ornare venenatis. Proin arcu turpis, suscipit a auctor nec, mattis nec neque. Vivamus tristique est vel risus elementum vulputate sit amet quis ipsum. Proin feugiat placerat purus ac faucibus. 
</p>

<p style="text-align:center; color: #ffffff;">
<b>
Join us for a live demonstration of Giftabulator &reg; and a discussion on how leveraging tax considerations is one of the most effective ways to maximize the size of the gift.
</b>
</p>

<p style="text-align:center;color:#f6b73c;">Facilitated by Bill Petruck, President & CEO of FUNDING matters inc.</p>


<div style="background-color:#ffc430; color: #404041; width: 505px; padding: 0px; margin: 0 0 -10px -10px; height: 120px;">

<div style="width: 140px; float: left; background-color: transparent; margin: 0 0 0 10px; padding: 10px;">
<span style="font-size: 14pt; font-weight:800;">Date</span>
<br><br>
Thursday, August 18th, 2011
</div>

<div style="width: 140px; float: left; background-color: transparent; padding:10px;">
<span style="font-size: 14pt; font-weight:800;">Time</span>
<br><br>
Noon - 1pm
</div>


<div style="width: 140px; float:left; background-color: transparent; padding: 10px;">
<span style="font-size: 14pt; font-weight:800;">Place</span>
<br><br>
Online webinar
</div>


</div>

</div>

<div style="text-align:center;">
<a href="http://www.giftabulator.com" target="_blank"><img src="http://www.fundingmatters.com/newsletters/giftabulator/images/giftabulator_logo.png" height="240" width="230"/></a><br/>
</div>

<div style="text-align:center;font-size:30px;">Get the Gift</div>

<div style="text-align:center;">
<p>
To register please contact<br/>
<b>Stephen Lavoie</b><br/>
Director of Business Development<br/>
<a style="color: #000000;"  href="mailto:slavoie@fundingmatters.com">slavoie@fundingmatters.com</a><br/>
416.249.0788<br/>
<a style="color: #000000;" href="http://www.fundingmatters.com target="_blank">fundingmatters.com</a><br/>
<a style="color: #000000;" href="http://www.giftabulator.com target="_blank">giftabulator.com</a>
</p>
</div>

<div style="text-align:center;">
<a style="color: #000000;" href="http://www.fundingmatters.com" target="_blank"><img src="http://www.fundingmatters.com/newsletters/giftabulator/images/funding_matters_logo.png" border="0"/></a><br/>
</div>

</div>