<div style="width:768px;font-family:helvetica;">
<div style="float:left;width:485px;background-color:#404041; padding: 0px;">
<div style="font-size:30px;padding:15px 15px 0px 15px; color: #ffffff;">
Increase Assets Under Management
</div>

<p style="text-align:justify;color:#cccccc;padding: 25px;">
{!Contact.FirstName}, Join FUNDING matters&reg; President & CEO Bill Petruck for a discussion on ways your organization can leverage the multi-trillion dollar wealth transfer.  The discussion will be followed by a live demonstration of Giftabulator&reg; and best practices of discussing philanthropy with your clients .
</p>

<p style="text-align:center; color: #ffffff; padding: 25px;">
<b>
By building philanthropic wealth management into your practice, your organization can unlock wealth potential and enhance client engagement.
</b>
</p>

<p style="text-align:center;color:#f6b73c; padding-top: 10px;">Facilitated by Bill Petruck, President & CEO of FUNDING matters inc.</p>


<div style="background-color:#ffc430; color: #404041; width: 485px; padding: 0px; margin: 0px; height: 120px; float:left;">

<div style="width: 140px; float: left; background-color: transparent; margin: 0px; padding: 10px;">
<span style="font-size: 14pt; font-weight:800;">Date:</span>
<br>
Wednesday, September 21st, 2011
</div>

<div style="width: 140px; float: left; background-color: transparent; padding:10px;">
<span style="font-size: 14pt; font-weight:800;">Time:</span>
<br>
Noon - 1pm EDT
</div>


<div style="width: 140px; float:left; background-color: transparent; padding: 10px;">
<span style="font-size: 14pt; font-weight:800;">Place:</span>
<br>
Online webinar
</div>


</div>

</div>

<div style="text-align:center;">
<a href="http://www.giftabulator.com" target="_blank"><img src="http://www.fundingmatters.com/newsletters/giftabulator/images/giftabulator_logo.png" height="240" width="230"/></a><br/>
</div>

<div style="text-align:center;font-size:30px;"></div>

<div style="text-align:center;">
<p>
To register please contact:<br/>
<p>
<b>Stephen Lavoie</b><br/>
Director of Business Development<br/>
<a style="color: #000000;"  href="mailto:slavoie@fundingmatters.com">slavoie@fundingmatters.com</a><br/>
416.249.0788<br/>
<a style="color: #000000;" href="http://www.fundingmatters.com target="_blank">fundingmatters.com</a><br/>
<a style="color: #000000;" href="http://www.giftabulator.com target="_blank">giftabulator.com</a>
</p>
</div>

<div style="text-align:center;">
<a style="color: #000000;" href="http://www.fundingmatters.com" target="_blank"><img src="http://www.fundingmatters.com/newsletters/giftabulator/images/funding_matters_logo.png" border="0"/></a><br/>
</div>

</div>