img		{border: 0px none;}

body	{
		font-family: muli, helvetica, arial, sans-serif;
		color: #505050;
		margin: 0;
		padding: 0px;
		letter-spacing: 1px;
		background-color: #f0f0f0;
		font-size: 11pt;
		line-height: 25px;
}

p		{padding: 0px 20px;}

hr		{height: 1px; width: 40%; color: #a0a0a0; background-color: #a0a0a0; border: 0px;;}

h1		{color: #0099FF; font-size: 18pt; font-family: nunito, helvetica, arial, sans-serif;}
h2		{color: #0099FF; font-size: 16pt; font-family: nunito, helvetica, arial, sans-serif;}
h3		{color: #000000; font-size: 13pt; margin-top: 12px; margin-left: 20px; font-family: nunito, helvetica, arial, sans-serif;}
h4		{color: #FF9933; font-size: 11pt; margin-top: 16px; margin-left: 20px; font-family: nunito, helvetica, arial, sans-serif;}
h5		{color: #000000; font-size: 11pt; margin-top: 12px; font-family: nunito, helvetica, arial, sans-serif;}
h6		{color: #FF9933; font-size: 11pt; margin-top: 12px; margin-bottom: 15px; font-family: nunito, helvetica, arial, sans-serif;}



a:link	{color: #FF9933; text-decoration: none; /*#ffcc00*/}

a:visited
		{color: #FF9933; text-decoration: none;}

a:hover {color: #0099FF; text-decoration: none;}

label	{font-family: nunito, helvetica, arial, sans-serif;}
label.nm	{margin:0px;}

ul		{margin-left:20px;}


.b		{color: #0099FF; font-size: 35pt;}
.o		{color: #FF9933; font-size: 35pt;}



/* Container for all DIV's */

#container	{
		width: 1000px;
		height: 100%;
		margin: -1px auto;
		background-color: #ffffff;
		border: 1px solid #cccccc;
		position: relative;
		display: table;
}

#containertable	{
		position: relative;
		display: table;
		height:auto;
		width: 100%;
		margin: auto;
		background-color: transparent;
}



/* Logo and nav */

#header	{ 
		width: 1000px;
		height: 160px;
		margin: 0;
}


/* Option for header within container

#header	{
		width: 100%; 
		height: 100px;
		background-color: yellow;
}

*/



.navigation	{letter-spacing: 1px; font-size: 8pt;}

.navigation  a:link	{
		color: #000000;
		text-decoration: none;
}

.navigation  a:visited	{
		color: #000000;
		text-decoration: none;
}

.navigation a:hover	{
		color: #ff9933;
		text-decoration: none;
}

.navigation ul	{list-style-type: none; margin: 0px;}
.navigation li	{display: inline; padding: 20px 18px 20px 0px; margin: 0px;}


.logotext {padding: 20px;}

img.logo	{position: relative; top: -40px; right: 10px; float:right;}


.padding	{width: 100%; height: 100%;}


/* Section 1 with word cloud and rollover image */

#cloudimg	{
		width: 100%;
		height: 300px;
		background-color: chartreuse;
		margin: 0px;

}


/* Alternate section 1 */

.body	{padding: 20px 40px; position: relative; width: 920px; height: auto; background-color: transparent;}

.bodynp	{position: relative; width: 920px; height: auto;}


/* Mission statement and money */

.mm	{
		width: 100%;
		/*background-color: darkorchid;*/
		position: relative;
		margin: 0px;
}


.leftsmall	{
		width: 360px;
		height: 150px;
		/*background-color: DarkKhaki;*/
		position: relative;
		padding: 20px;
		text-align: center;
}

.rightbig	{
		width: 530px;
		height: 130px;
		background-color: #e8e8e8;
		padding: 20px;
		position: absolute;
		right: 10px;
		top: 10px;
}


.mission	{
		font-size: 26pt;
		font-family: nunito, helvetica, arial, sans-serif;
		text-align: left;
		font-weight: bold;
		padding: 20px 10px 10px 20px;
		line-height: 50px;
}

.missionbox	{
		width: 360px;
		height: auto;
		position: relative;
		padding: 0px 20px;
		text-align: center;
		margin-top: -30px;
}


.missionbox2	{
		width: 560px;
		height: auto;
		/*	background-color: #e8e8e8;*/
		padding: 10px;
		position: absolute;
		right: 10px;
		top: 8px;
}


.money	{
		font-size: 50pt;
		letter-spacing: 2px;
		font-weight: 100;
		color: #0099FF;
		padding: 0 0 10px 0;
		margin: 0px;
		text-shadow: 0 2px 5px #505050;
		text-align: center;
}

.moneytext	{
		padding: 4px 0 0 0;
		text-align:center;

}


.achievements	{
		font-size: 10pt;
		font-style: italic;
		text-align: center;
		text-align: center;
		padding: 20px 10px 10px 20px;
}



/* Blank Space */

#blank	{
		width: 960px;
		height: auto;
		background-color: lightgreen;
		padding: 0px 20px 20px 20px;
		margin: 0px;
}


/* 

** Blank Space Option 2: NO padding

#blank	{
		width: 100%;
		height: 200px;
		background-color: lightcoral;				
}				

*/





/* Blog News and About Us */

.leftsmall2	{
		width: 360px;
		height: auto;
		background-color: #e8e8e8;
		position: relative;
		padding: 10px;
		margin-left: 20px;
		margin-top: 20px;
}



.rightbig2	{
		width: 560px;
		height: auto;
		background-color: salmon;
		padding: 10px;
		position: absolute;
		right: 0px;
		top: 0px;
}


.blog	{
		text-align: left;
		font-size: 10pt;
		min-height: 200px;
}


/* what we do page */

.leftsmall3	{
		width: 260px;
		height: 120px;
		/*background-color: orchid;*/
		position: relative;
		float: left;
		padding: 10px 40px;
		margin-left: 10px;
		text-align:right;
}

.rightbig3	{
		width: 600px;
		height: auto;
		/*background-color: chartreuse;*/
		padding: 10px;
		position: relative;
		float: left;
}



/* Columns */

.left	{
		width: 450px;
		height: auto;
		position: relative;
		padding: 10px; 
		background-color: transparent;
		line-height: 10px;
		float:left;
}

.right	{
		width: 500px;
		height: auto;
		padding: 10px;
		margin: 10px 0px 20px 0px;
		position: relative;
		float:left;
}




/* Bio page - images */

#bio_container	{
		width: 570px;
		height: auto;
		background-color: transparent;
		position: absolute;
		right: 0px;
		top: 0px;
		margin: 0px 20px 0px 0px;
		border: 0px solid #e8e8e8;
}

#bio_container h3	{margin-left: 0px;}

#bio_title	{
		width: 100%;
		position: relative;
		height:auto;
		padding: 0px 20px;
}

#bio_pics	{
		width: 320px;
		padding: 0px;
		margin: 0px;
		margin-left: -56px;
		background-color: transparent;
		position:relative;
}

.bioimg img	{padding: 0px; margin: 0px; border: 0px;}
.bioimg ul	{list-style-type: none; margin: 0px; padding: 0px; text-indent: 0px;}
.bioimg li	{display: inline; margin: 0px; padding: 0px;}



/* Bio page - text */

#bio_section	{
		width: 300px;
		min-height: 100px;
		position: absolute;
		top: 50px;
		right: 0px;
		background-color: transparent;
		margin-top: 0px;
}



/* Bottom stuff */

#services	{
		width: 960px;
		float:left;
		background-color: #c8c8c8;
		border: 1px solid #c8c8c8;
		font-size:10pt;
		color: #000000;
		padding: 5px 20px 20px 20px;
		margin-left:-1px;
		margin-top: -18px;
}


.testimonialslider	{
		width: 1000px;
		float:left;
		background-color: #c8c8c8;
		border: 1px solid #c8c8c8;
		font-size:10pt;
		color: #000000;
		padding: 0px;
		margin-left:-1px;
		margin-top: -18px;
}

#footer		{
		width: 1000px;
		float: left;
		background-color: dimgrey;
		border: 1px solid dimgrey;
		padding: 3px 0px;
		color: #ffffff;
		text-shadow: 0 1px 3px #222222;
		margin-left: -1px;
}

#end		{
		width: 960px;
		background-color: transparent;
		padding: 1px;
}


.whitefoot		{letter-spacing: 1px; font-size: 10pt;}
.whitefoot ul	{list-style-type: none; margin: 0px;}
.whitefoot li	{display: inline; padding: 20px 40px 20px 0px; margin: 0px;}


/* Forms */

input,label,textarea, .contact {margin: 8px auto;}

label	{
		float: left;
		width: 140px;
		font-weight: bold;
}

input	{
		width: 300px;
}

.submit {
		margin-left: 140px;
		margin-top: 0px;
		width: 120px;
		text-align: center;
}

.contactleft	{
		width: 450px;
		height: auto;
		position: relative;
		padding: 10px; 
		background-color: transparent;
		line-height: 10px;
		float:left;
		margin-left: 20px;
}

.contactright	{
		margin: -30px 100px 0px 30px;
		font-size: 9pt;
		position: relative;
		background-color: transparent;
		text-align:right;
}


/* ***** Testimonials ***** */


/* columns */

.columnpack	{width: 900px; background-color: pink; position: relative; float:left;}

/*
.col-l		{float: left; width: 270px; background-color: cyan;}
.col-r		{float: right; width: 270px; background-color: red; position: absolute; top: 80px; right: 40px;}
.cols		{background-color: pink; padding: 0px 300px;}
*/

.col1		{float:left; width: 305px; position: relative;}
.col2		{float:left; width: 305px; position: relative;}
.col3		{float:left; width: 305px; position: relative;}



p.quote1	{
		text-align: justify;
		font-style: italic;	
		font-size: 11pt; 
		padding-top: 10px;
		padding-bottom: 5px;
}


p.quote2	{
		text-align:right;
		font-size: 9pt;
		padding-bottom: 25px;
		color: #909090;
}




/*
.quoteleft	{
		color: #FF9933;
		font-size: 16pt;
}

.quoteright	{
		color: #0099FF;
		font-size: 16pt;
}
*/



/* SERVICES PAGE */

.services-a	{
	width: 333px;
	background-color: transparent;
	margin: 20px;
	text-align: center;
	position: relative;
	float: left;
}

.services-b	{
	width: 600px;
	height: auto;
	background-color: transparent;
	text-align: justify;
	margin: 10px 0px 20px 0px;
	position: relative;
	float:left;
}

.highlight-a	{
	font-family: muli, helvetica, arial, sans-serif;
	font-size: 15pt;
	text-align: justify;
	color: #989898;
	line-height: 30px;
}

.highlight-b	{
	font-family: nunito, helvetica, arial, sans-serif;
	font-size: 18pt;
	color: #b0b0b0;
	text-align: center;
}