/* reset */

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, font, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

input:focus	{outline: none; border: 1px solid #4A5896;}

/*
*
*	JCCC colour scheme
*	
*	Dark Red	#dc143c
*	Navy		#003366
*	Kendo Blue	#242b4a
*	Table TH	#4A5896
*	Grey		#606060
*	
*/

/* fonts */

@font-face	{
	font-family: 'carto gothic';
	src: url('/assets/fonts/CartoGothicStd-Book.otf');
}

@font-face	{
	font-family: 'carto gothic';
	font-weight: bold;
	src: url('/assets/fonts/CartoGothicStd-Bold.otf');
}

@font-face	{
	font-family: 'carto gothic';
	font-style: italic;
	src: url('/assets/fonts/CartoGothicStd-Italic.otf');
}



body {
	background: url('/assets/images/bg-gradient.png') #4a5896 repeat-x;
	font-family: 'carto gothic','helvetica', arial, verdana, sans-serif;
	margin-top: 0px;
	font-size: 0.9em;
	line-height: 1.5em;
}

p	{margin: 15px 0px;}

li	{margin-left: 40px;}

h1, h2, h3, h4	{text-align: left;}

h1	{color: #dc143c; font-size: 1.6em; padding-top: 20px;}
h2	{color: #dc143c; font-size: 1.2em; padding-top: 25px;}
h3	{color: #dc143c; font-size: 1em; padding: 20px 0 10px 0;}
h4	{color: #000000; font-size: 1em; padding: 20px 0 0 0;}


a	{color: #dc143c; text-decoration: underline;}


.main-container{
	background: #ffffff;
	margin: 0 auto;
	width: 760px;
	height:100%;
	padding: 0;
	margin-top:0px;
	display: table;
	box-shadow: 0 0 20px #333333;
	-webkit-box-shadow: 0 0 20px #333333;
	-moz-box-shadow: 0 0 20px #333333;
}

.container	{
	position: relative;
	margin: 0px;
	height: auto;
	width: auto;
}


/* header */

#header	{
	background: url('/assets/images/header-gradient.png') top center repeat-x #ffffff;
	height: auto;
	position: relative;	
}

.languages	{
	position: absolute;
	top: 15px;
	right: 10px;
	height: 30px;
}

.languages img	{
	border: 1px solid #999999;
	margin: 0 2px;
}

img.logo	{
	padding: 13px 10px;
}

.languages a	{color: #606060;}

.search	{
	position: absolute;
	right: 10px;
	top: 53px;
	border: 1px solid #d2d1d1;
	border-radius: 5px;
	padding: 3px;
	outline: none;
}

.search input	{
	width: 180px;
	border: 0;
	font-family: inherit;
	color: #555555;
	font-size: 0.9em;
	padding-left: 27px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: url('/assets/images/mag.png') center left no-repeat;
}


/* top navigation menu */ 

#nav	{
	font-size: 1.3em;
	margin: 20px 0;
}

#nav ul li	{
	list-style-type: none;
	display: inline-block;
	* display: inline;
	margin: 15px 7px;
	* margin: 15px 5px;
}

#nav ul li:last-child	{
	margin-right: 0;
}

#nav a	{
	color: #000000;
	text-decoration: none;
	padding: 10px 5px;
}

#nav a:hover	{
	border-bottom: 3px solid #dc143c;
}

#nav .active-top	{
	color: #dc143c;
}


/* breadcrumbs */

#breadcrumbs	{
	margin: 10px 15px;
	clear: both;
	font-size: 0.9em;
}


/* footer */

#footer	{
	font-family: century gothic, helvetica, arial, sans-serif;
	font-size: 0.9em;
	background: url('/assets/images/footer.png') no-repeat #ffffff;
	margin: 20px auto 0 auto;
	clear: both;
	width: 738px;
	height: 50px;
}

#footer ul	{
	* margin-top: 12px;
}

#footer ul li	{
	display: inline-block;
	* display: inline;
	list-style-type: none;
	border-right: 1px solid #d2d1d1;
	* border: 0;
	margin-left: 0px;
	margin-top: 2px;
	padding: 12px 0;
}

#footer ul li:first-child	{
	margin-left: 10px;
}

#footer ul li:last-child	{
	border-right: 0;
}

#footer a	{
	padding: 13px 28px;
	color: #606060;
	text-decoration: none;
}

#font-sizing	{
	float: left;
	margin-left: 10px;
}

#font-sizing ul li	{
	list-style-type: none;
	display: inline-block;
	* display: inline;
	margin: 0;
	padding: 0 7px;
	border-right: 1px solid #d2d1d1;
}

#font-sizing ul li:last-child	{
	border: 0;
}

#socialmedia	a	{color: #575757; text-decoration: none;}

#socialmedia	{
	width: 740px;
	height: auto;
	position:relative;
	margin: 0px auto;
	color: #606060;
	font-family: century gothic, helvetica, arial, sans-serif;
	font-size: 0.9em;
}

#socialmedia p {
	float: right;
	margin: 0 0 15px 0;
	text-align: right;
}

#socialmedia img	{
	width: 25px;
	margin: 0 5px;
}

.float-right{float:right;}
.float-left	{float:left;}


/* left navigation; image & table styles for programs */

.left-nav	{
	width: 225px;
	height: auto;
	background-color: #f8f8f8;
	float: left;
	margin: 20px 0 20px 11px;
	font-weight: bold;
}

.left-nav ul	{
	/*list-style-image: url('/assets/images/bullet.png');
	margin-left: 30px;*/
	margin-left: 10px;
	list-style-type: none;
}

.left-nav ul li	{
	border-bottom: 1px dashed #d2d1d1; 
	margin: 0;
	padding: 0;
}

.left-nav li:last-child	{border-style: none;}

.left-nav a	{
	color: #003366; 
	text-decoration: none; 
	padding: 10px 0px 10px 7px;
	display: block;
}

.left-nav li a:hover	{background: #f0f0f0;}

a.active-left	{
	background: url('/assets/images/left-active-gradient-blue.png') right center repeat-y;
	border-right: 1px solid #4A5896;
}

.subnav	li	{
	border-style: none;
	margin-top: -10px;
	margin-left: -10px;
	font-size: 0.9em;
	font-weight: normal;
}

.right-content	{
	width: 480px;
	position: relative;
	text-align: justify;
	margin: 0 0 20px 20px;
	float: left;
}

img.programs	{
	width: 100%;
	margin-top: 20px;
	border-radius: 10px;
}

img.programs-small	{
	width: 260px;
	margin: 20px 20px 10px 0px;
	float: left;
	border-radius: 10px;
}

table#programs	{
	width: 100%;
	font-family: helvetica, arial, verdana, sans-serif;
}

table#programs th	{
	background: #4A5896;
	font-size: 1em;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	padding: 6px;
}

table#programs td	{
	padding: 6px;
	background: #f8f8f8;
	font-size: 0.8em;
	text-align: left;
}

table#programs td.bold	{font-weight: bold;}


/* contact page */

.contact-left	{
	width: 400px;
	float: left;
	margin-right: 10px;
}

.contact-right	{
	width: 300px;
	min-height: 20px;
	margin-left: 10px;
	float: left;
}

img.map	{width: 100%; margin-top: 15px;}

.address	{
	background: #f8f8f8;
	border-left: 2px solid #d0d0d0;
	padding: 0 0 10px 10px;
	margin-top: 15px;
}

.address h2	{padding: 10px 0;}


/* member benefits */

.left-benefits	{
	width: 180px;
	float: left;
	text-align: center;
	border-top: 2px solid #c0c0c0;
	clear: both;
	margin-left: -2px;
}

.left-benefits img	{
	max-width: 100%;
	padding: 20px 0;
}

.right-benefits	{
	width: 285px;
	float: left;
	border-top: 2px solid #c0c0c0;
	padding: 0 0 20px 15px;
}

.first	{border: 0px;}


/* donate: needs */

.leftbig	{
	width: 300px; 
	float: left;
}

.rightsmall	{
	width: 200px;
	float: left;
	margin-left: 10px;
}

.needs-text	{
	margin-top: 50px;
}

img.needs	{width: 100%;}

table#needs	{
	border: 0;
	border-spacing: 5px;
}
table#needs td	{padding: 10px;}

table#needs td.greencell, table#needs td.tancell, table#needs td.redcell, table#needs td.bluecell	{
	width: 20px; 
	height: 20px;
}

table#needs td.greencell	{background: #4ee257;}
table#needs td.tancell	{background: #fff58c;}
table#needs td.redcell	{background: #dd2d32;}
table#needs td.bluecell	{background: #63aafe;}


/* image carousel */

.carousel-section {
	background: #efefef;
	width: 100%;
	min-height: 300px;
	border-radius: 10px;
	margin: 10px auto;
	position: relative;
}

img.carousel-image	{
	width: 100%;
	height: 280px;
	padding: 10px 0px 0px 0px;
}



/* content */

.main-content	{
	position: relative;
	text-align: justify;
	clear: both;
	margin: 0px 20px;
}

.main-content-section{
	width: 100%;
	height: auto;
	display: table;
	position: relative;
	clear: both;
}

blockquote.quote	{
	font-size: 1.3em;
	color: #6b6b6b;
	font-style: italic;
	border: 0;
	background-image: url('/assets/images/quote1blue.png'), url('/assets/images/quote2blue.png');
	background-position: top left, bottom right;
	background-color: #ffffff;
	background-repeat: no-repeat;
	line-height: 1.3em;
	text-align: center;
	margin: 25px 0px;
	padding: 10px 60px 0px 60px;
}

p.quoter	{
	text-align: right;
	font-size: 0.8em;
	color: #6b6b6b;
}

blockquote	{
	background-color: #f8f8f8;
	border-left: 2px solid #d0d0d0;
	margin-top: 15px;
	margin-left: 20px;
	padding: 10px 10px 10px 20px;
}

#sitemap	{
	margin: 20px 0 20px 100px;
	line-height: 2em;
}


/* etc. */

.clearfix:after	{
	clear: both;
	content: "";
	display: block;
}

.center	{text-align: center;}

.hidden	{overflow:hidden;}

.pad5	{padding: 0px 5px;}

.bottom	{margin-bottom: 20px;}
.top	{padding-top: 15px; }

.italics	{
	font-style: italic;
}