.clsCMOn  {
    font: 12px Tahoma, Helvetica;
    padding: 2px 4px;
    color: black;
}

.clsCMOver  {
    font: 12px Tahoma, Helvetica;
    padding: 2px 4px;
    color: white;
}

.mainOn {
    font: 14px Tahoma, Helvetica;
    font-weight: bold;
    padding: 2px 4px 5px 15px;
    color: white;
}
 .mainOver {
    font: 14px Tahoma, Helvetica;
    font-weight: bold;
    padding: 2px 4px 5px 15px;
    color: #f8e2e3;
}
